applications/workflows/business/encuestas/ventas/asignacion-contact-center-ventas.json
{
  "name": "Sales Survey Call Center Assignment",
  "description": "Asignación equitativa de encuestas de VENTAS no respondidas a agentes de Contact Center. Principio SRP: Una sola responsabilidad - asignación de encuestas ventas.",
  "tags": [
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "srp",
      "name": "srp"
    },
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "sales",
      "name": "sales"
    },
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "ventas",
      "name": "ventas"
    },
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "assignment",
      "name": "assignment"
    }
  ],
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook/sales-survey/call-center-assignment",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger-ventas",
      "name": "Trigger Asignación Contact Center Ventas",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        300
      ],
      "webhookId": "sales-survey-call-center-assignment"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $vars.SUPABASE_URL }}/rest/v1/usuarios",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "headers": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $vars.SUPABASE_SERVICE_KEY }}"
            }
          ]
        },
        "qs": {
          "parameters": [
            {
              "name": "concesionario_id",
              "value": "eq.{{ $json.tenant_id }}"
            },
            {
              "name": "role",
              "value": "eq.contact_center"
            },
            {
              "name": "activo",
              "value": "eq.true"
            },
            {
              "name": "select",
              "value": "id,nombre,email,telefono,sucursal_id"
            }
          ]
        }
      },
      "id": "get-contact-center-agents-ventas",
      "name": "Obtener Agentes Contact Center Ventas",
      "type": "n8n-nodes-base.httpRequestV3",
      "typeVersion": 4.1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {},
      "id": "assign-sales-clients",
      "name": "Asignar Clientes Ventas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2.1,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "sales_assignments_by_agent",
        "options": {}
      },
      "id": "split-by-agent-ventas",
      "name": "Dividir por Agente Ventas",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.SUPABASE_URL }}/rest/v1/sales_survey_call_assignments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "headers": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $vars.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "body": {
          "parameters": [
            {
              "name": "concesionario_id",
              "value": "={{ $('Asignar Clientes Ventas').first().json.tenant_id }}"
            },
            {
              "name": "agente_id",
              "value": "={{ $json.agent_info.id }}"
            },
            {
              "name": "agente_nombre",
              "value": "={{ $json.agent_info.nombre }}"
            },
            {
              "name": "assigned_sales_clients",
              "value": "={{ JSON.stringify($json.assigned_sales_clients) }}"
            },
            {
              "name": "total_sales_clients",
              "value": "={{ $json.assigned_sales_clients.length }}"
            },
            {
              "name": "survey_type",
              "value": "VENTAS"
            },
            {
              "name": "department",
              "value": "VENTAS"
            },
            {
              "name": "estado",
              "value": "pendiente"
            },
            {
              "name": "fecha_asignacion",
              "value": "={{ new Date().toISOString() }}"
            },
            {
              "name": "prioridad_alta_count",
              "value": "={{ $json.assigned_sales_clients.filter(c => c.prioridad === 'alta').length }}"
            }
          ]
        }
      },
      "id": "register-sales-assignments",
      "name": "Registrar Asignaciones Ventas",
      "type": "n8n-nodes-base.httpRequestV3",
      "typeVersion": 4.1,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {},
      "id": "prepare-sales-notification",
      "name": "Preparar Notificación Ventas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2.1,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.N8N_WEBHOOK_URL }}/webhook/send-email",
        "headers": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $vars.N8N_WEBHOOK_AUTH_TOKEN }}"
            }
          ]
        },
        "body": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $json.to }}"
            },
            {
              "name": "subject",
              "value": "={{ $json.subject }}"
            },
            {
              "name": "html",
              "value": "={{ $json.html }}"
            },
            {
              "name": "tenant_id",
              "value": "={{ $('Asignar Clientes Ventas').first().json.tenant_id }}"
            },
            {
              "name": "survey_type",
              "value": "VENTAS"
            },
            {
              "name": "department",
              "value": "VENTAS"
            }
          ]
        }
      },
      "id": "send-sales-notification",
      "name": "Enviar Notificación Ventas",
      "type": "n8n-nodes-base.httpRequestV3",
      "typeVersion": 4.1,
      "position": [
        1560,
        300
      ]
    },
    {
      "parameters": {},
      "id": "generate-sales-report",
      "name": "Generar Reporte Final Ventas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2.1,
      "position": [
        1780,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"message\": \"Asignación de encuestas VENTAS a Contact Center completada exitosamente\",\n  \"survey_type\": \"VENTAS\",\n  \"department\": \"VENTAS\",\n  \"assignment_data\": {\n    \"total_sales_clients_assigned\": {{ $('Asignar Clientes Ventas').first().json.total_sales_assignments }},\n    \"total_agents\": {{ $('Asignar Clientes Ventas').first().json.total_agents }},\n    \"notifications_sent\": {{ $json.notification_results.emails_sent }}\n  },\n  \"final_sales_report\": {{ JSON.stringify($json) }},\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}"
      },
      "id": "success-response-ventas",
      "name": "Respuesta Éxito Ventas",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 2.1,
      "position": [
        2000,
        300
      ]
    }
  ],
  "connections": {
    "Trigger Asignación Contact Center Ventas": {
      "main": [
        [
          {
            "node": "Obtener Agentes Contact Center Ventas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Agentes Contact Center Ventas": {
      "main": [
        [
          {
            "node": "Asignar Clientes Ventas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Asignar Clientes Ventas": {
      "main": [
        [
          {
            "node": "Dividir por Agente Ventas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dividir por Agente Ventas": {
      "main": [
        [
          {
            "node": "Registrar Asignaciones Ventas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Asignaciones Ventas": {
      "main": [
        [
          {
            "node": "Preparar Notificación Ventas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Notificación Ventas": {
      "main": [
        [
          {
            "node": "Enviar Notificación Ventas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Notificación Ventas": {
      "main": [
        [
          {
            "node": "Generar Reporte Final Ventas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Reporte Final Ventas": {
      "main": [
        [
          {
            "node": "Respuesta Éxito Ventas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "sales-survey-call-center-assignment",
  "versionId": "1.0.0"
}
