applications/workflows/business/encuestas/ventas/enviador-whatsapp-ventas.json
{
  "name": "Sales Survey WhatsApp Sender",
  "description": "Envío individual de encuestas de VENTAS por WhatsApp (SRP).",
  "tags": ["sales", "survey", "whatsapp", "sender", "ventas", "srp"],
  "nodes": [
    { "parameters": { "httpMethod": "POST", "path": "webhook/sales-survey/whatsapp-sender", "responseMode": "responseNode", "options": {} }, "id": "webhook-trigger-ventas", "name": "Trigger Enviador WhatsApp Ventas", "type": "n8n-nodes-base.webhook", "typeVersion": 2.1, "position": [240, 300], "webhookId": "sales-survey-whatsapp-sender" },
    { "parameters": { "jsCode": "// Preparar mensaje individual de ventas\nconst input = $input.first()?.json || {};\nconst tenant_id = input.tenant_id || input.concesionario_id || null;\nconst c = input.client_data || {};\nconst survey_url = input.survey_url || '';\nconst to_phone = c.telefono;\nconst message_text = `Hola ${c.nombre || c.nombre_completo || ''}, tu opinión es importante: ${survey_url}`;\nreturn [{ json: { tenant_id, client_data: c, to_phone, message_text, survey_url } }];" }, "id": "prepare-sales-whatsapp-message", "name": "Preparar Mensaje WhatsApp Ventas", "type": "n8n-nodes-base.code", "typeVersion": 2.1, "position": [460, 300] },
    { "parameters": { "requestMethod": "POST", "url": "https://graph.facebook.com/v20.0/{{ $vars.WHATSAPP_PHONE_ID }}/messages", "sendHeaders": true, "headerParameters": { "parameters": [ { "name": "Authorization", "value": "Bearer {{ $vars.WHATSAPP_ACCESS_TOKEN }}" }, { "name": "Content-Type", "value": "application/json" } ] }, "sendBody": true, "bodyContentType": "json", "jsonBody": "={ \n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.to_phone }}\",\n  \"type\": \"text\",\n  \"text\": { \"preview_url\": true, \"body\": \"{{ $json.message_text }}\" }\n}" }, "id": "send-sales-whatsapp", "name": "Enviar WhatsApp Ventas", "type": "n8n-nodes-base.httpRequestV3", "typeVersion": 4.2, "position": [680, 300] },
    { "parameters": { "requestMethod": "POST", "url": "={{ $vars.SUPABASE_URL }}/rest/v1/encuestas_ventas", "sendHeaders": true, "headerParameters": { "parameters": [ { "name": "apikey", "value": "={{ $vars.SUPABASE_ANON_KEY }}" }, { "name": "Authorization", "value": "Bearer {{ $vars.SUPABASE_SERVICE_KEY }}" }, { "name": "Content-Type", "value": "application/json" }, { "name": "Prefer", "value": "return=representation" } ] }, "sendBody": true, "bodyContentType": "json", "jsonBody": "={{ JSON.stringify({ concesionario_id: $('Preparar Mensaje WhatsApp Ventas').first().json.tenant_id, cliente_nombre: $json.client_data?.nombre || $json.client_data?.nombre_completo, cliente_telefono: $json.client_data?.telefono, cliente_email: $json.client_data?.email || null, vehiculo_vin: $json.client_data?.vehiculo_vin || null, origen: 'WhatsApp', estado: 'enviado', survey_link: $('Preparar Mensaje WhatsApp Ventas').first().json.survey_url || null, fecha_envio: new Date().toISOString(), whatsapp_message_id: $('Enviar WhatsApp Ventas').first().json.messages?.[0]?.id || null }) }}" }, "id": "update-sales-survey-status", "name": "Registrar Encuesta Ventas", "type": "n8n-nodes-base.httpRequestV3", "typeVersion": 4.2, "position": [900, 300] },
    { "parameters": { "respondWith": "json", "responseBody": "={\n  \"status\": \"success\",\n  \"message\": \"Encuesta de VENTAS enviada por WhatsApp\",\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}" }, "id": "success-response-ventas", "name": "Respuesta Éxito Ventas", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 2.1, "position": [1120, 300] }
  ],
  "connections": {
    "Trigger Enviador WhatsApp Ventas": { "main": [[{ "node": "Preparar Mensaje WhatsApp Ventas", "type": "main", "index": 0 }]] },
    "Preparar Mensaje WhatsApp Ventas": { "main": [[{ "node": "Enviar WhatsApp Ventas", "type": "main", "index": 0 }]] },
    "Enviar WhatsApp Ventas": { "main": [[{ "node": "Registrar Encuesta Ventas", "type": "main", "index": 0 }]] },
    "Registrar Encuesta Ventas": { "main": [[{ "node": "Respuesta Éxito Ventas", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "id": "sales-survey-whatsapp-sender",
  "versionId": "1.0.1"
}