applications/workflows/business/encuestas/ventas/enviador-masivo-whatsapp-ventas.json
{
  "name": "Sales Survey - WhatsApp Bulk Sender",
  "description": "Envía encuestas de ventas masivamente por WhatsApp después de carga de Excel",
  "tags": ["sales", "survey", "whatsapp", "bulk", "ventas", "masivo"],
  "nodes": [
    { "parameters": { "workflowId": "={{ $json.workflowId || 'upstream' }}" }, "id": "sales-survey-bulk-trigger", "name": "Trigger de Encuestas Masivas Ventas", "type": "n8n-nodes-base.executeWorkflowTrigger", "typeVersion": 2.1, "position": [240, 300] },
    { "parameters": { "jsCode": "// Preparar mensajes y config por tenant\nconst input = $input.first()?.json || {};\nconst tenant_id = input.tenant_id || input.concesionario_id || null;\nconst clients = Array.isArray(input.clients_to_survey) ? input.clients_to_survey : [];\nconst survey_url = input.survey_url || '';\nconst messages = clients.map(c => ({ to_phone: c.telefono, message_text: `Hola ${c.nombre || c.nombre_completo || ''}, tu opinión es importante: ${survey_url}` , client_data: c }));\nreturn [{ json: { tenant_id, messages } }];" }, "id": "process-sales-bulk-data", "name": "Procesar Lote Encuestas Ventas", "type": "n8n-nodes-base.code", "typeVersion": 2.1, "position": [460, 300] },
    { "parameters": { "fieldToSplitOut": "messages", "options": {} }, "id": "split-messages", "name": "Split Messages", "type": "n8n-nodes-base.itemLists", "typeVersion": 3, "position": [680, 300] },
    { "parameters": { "requestMethod": "POST", "url": "https://graph.facebook.com/v20.0/{{ $vars.WHATSAPP_PHONE_ID }}/messages", "sendHeaders": true, "headerParameters": { "parameters": [ { "name": "Authorization", "value": "Bearer {{ $vars.WHATSAPP_ACCESS_TOKEN }}" }, { "name": "Content-Type", "value": "application/json" } ] }, "sendBody": true, "bodyContentType": "json", "jsonBody": "={ \n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.to_phone }}\",\n  \"type\": \"text\",\n  \"text\": { \"preview_url\": true, \"body\": \"{{ $json.message_text }}\" }\n}" }, "id": "send-whatsapp-sales-survey", "name": "Enviar WhatsApp Encuesta Ventas", "type": "n8n-nodes-base.httpRequestV3", "typeVersion": 4.2, "position": [900, 300] },
    { "parameters": { "requestMethod": "POST", "url": "={{ $vars.SUPABASE_URL }}/rest/v1/encuestas_ventas", "sendHeaders": true, "headerParameters": { "parameters": [ { "name": "apikey", "value": "={{ $vars.SUPABASE_ANON_KEY }}" }, { "name": "Authorization", "value": "Bearer {{ $vars.SUPABASE_SERVICE_KEY }}" }, { "name": "Content-Type", "value": "application/json" }, { "name": "Prefer", "value": "return=representation" } ] }, "sendBody": true, "bodyContentType": "json", "jsonBody": "={{ JSON.stringify({ concesionario_id: $('Procesar Lote Encuestas Ventas').first().json.tenant_id, cliente_nombre: $json.client_data?.nombre || $json.client_data?.nombre_completo, cliente_telefono: $json.client_data?.telefono, cliente_email: $json.client_data?.email || null, vehiculo_vin: $json.client_data?.vehiculo_vin || null, origen: 'WhatsApp', estado: 'enviado', survey_link: $('Procesar Lote Encuestas Ventas').first().json.survey_url || null, fecha_envio: new Date().toISOString(), whatsapp_message_id: $('Enviar WhatsApp Encuesta Ventas').first().json.messages?.[0]?.id || null }) }}" }, "id": "register-sales-survey", "name": "Registrar Encuesta Ventas", "type": "n8n-nodes-base.httpRequestV3", "typeVersion": 4.2, "position": [1120, 300] },
    { "parameters": { "respondWith": "json", "responseBody": "={\n  \"status\": \"success\",\n  \"message\": \"Mensajes enviados y encuestas registradas (ventas).\",\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}" }, "id": "success-response", "name": "Success Response", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 2.1, "position": [1340, 300] }
  ],
  "connections": {
    "Trigger de Encuestas Masivas Ventas": { "main": [[{ "node": "Procesar Lote Encuestas Ventas", "type": "main", "index": 0 }]] },
    "Procesar Lote Encuestas Ventas": { "main": [[{ "node": "Split Messages", "type": "main", "index": 0 }]] },
    "Split Messages": { "main": [[{ "node": "Enviar WhatsApp Encuesta Ventas", "type": "main", "index": 0 }]] },
    "Enviar WhatsApp Encuesta Ventas": { "main": [[{ "node": "Registrar Encuesta Ventas", "type": "main", "index": 0 }]] },
    "Registrar Encuesta Ventas": { "main": [[{ "node": "Success Response", "type": "main", "index": 0 }]] }
  },
  "settings": { "saveExecutionProgress": true, "saveManualExecutions": true, "callerPolicy": "workflowsFromSameOwner" }
}