applications/workflows/business/encuestas/ventas/exportador-excel-ventas.json
{
  "name": "Sales Survey - Excel Exporter",
  "description": "Genera y permite descargar reportes Excel de encuestas de ventas para jefe de ventas por concesionario/sucursal.",
  "tags": ["sales", "survey", "excel", "export", "ventas", "report"],
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook/sales-survey/excel-export",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-excel-export-sales",
      "name": "Webhook Excel Export Ventas",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [200, 300]
    },
    {
      "parameters": {
      },
      "id": "validate-export-params-sales",
      "name": "Validar Parámetros Export Ventas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT ss.id, ss.fecha_creacion, ss.cliente_nombre, ss.cliente_rut, ss.cliente_telefono, ss.asesor_ventas_id, ss.vehiculo_modelo, ss.fecha_venta, ss.recomendacion, ss.atencion_asesor, ss.proceso_entrega, ss.satisfaccion_general, ss.average_score, ss.comentario, ss.origen, s.nombre as sucursal_nombre, u.nombre_completo as asesor_nombre FROM sales_surveys ss LEFT JOIN sucursales s ON ss.sucursal_id = s.id LEFT JOIN usuarios u ON ss.asesor_ventas_id = u.id WHERE ss.concesionario_id = $1 AND ($2::uuid IS NULL OR ss.sucursal_id = $2) AND ss.fecha_creacion BETWEEN $3 AND $4 AND ss.survey_type = 'VENTAS' ORDER BY ss.fecha_creacion DESC",
        "additionalFields": {
          "queryParameters": "={{ [$json.concesionario_id, $json.sucursal_id, $json.fecha_inicio, $json.fecha_fin] }}"
        }
      },
      "id": "query-sales-surveys",
      "name": "Consultar Encuestas Ventas",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [600, 300]
    },
    {
      "parameters": {
      },
      "id": "process-sales-excel-data",
      "name": "Procesar Datos Excel Ventas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 300]
    },
    {
      "parameters": {
        "operation": "fromArray",
        "options": {
          "sheetName": "Encuestas Ventas"
        },
        "binaryPropertyName": "sales_excel_file"
      },
      "id": "generate-sales-excel",
      "name": "Generar Excel Ventas",
      "type": "n8n-nodes-base.microsoftExcel",
      "typeVersion": 2,
      "position": [1000, 300],
      "executeOnce": false
    },
    {
      "parameters": {
        "respondWith": "binary",
        "binaryPropertyName": "sales_excel_file",
        "options": {
          "responseHeaders": {
            "Content-Disposition": "=attachment; filename=\"{{ $('Procesar Datos Excel Ventas').first().json.export_info.file_name }}\"",
            "Content-Type": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
          }
        }
      },
      "id": "download-sales-excel",
      "name": "Descargar Excel Ventas",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 2,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"error\",\n  \"message\": \"Error al generar reporte Excel de VENTAS.\",\n  \"export_type\": \"VENTAS\",\n  \"error_details\": \"{{ $json.error?.message || 'Error desconocido' }}\",\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "error-response-sales-excel",
      "name": "Respuesta Error Excel Ventas",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 2,
      "position": [800, 480]
    }
  ],
  "connections": {
    "Webhook Excel Export Ventas": {
      "main": [
        [
          {
            "node": "Validar Parámetros Export Ventas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Parámetros Export Ventas": {
      "main": [
        [
          {
            "node": "Consultar Encuestas Ventas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respuesta Error Excel Ventas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Encuestas Ventas": {
      "main": [
        [
          {
            "node": "Procesar Datos Excel Ventas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Datos Excel Ventas": {
      "main": [
        [
          {
            "node": "Generar Excel Ventas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Excel Ventas": {
      "main": [
        [
          {
            "node": "Descargar Excel Ventas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}