applications/workflows/business/encuestas/ventas/filtro-duplicados-ventas.json
{
  "name": "Sales Survey Duplicate Filter",
  "description": "Filtro de duplicados para encuestas de VENTAS (SRP).",
  "tags": ["sales", "survey", "filter", "duplicates", "ventas", "srp"],
  "nodes": [
    { "parameters": { "httpMethod": "POST", "path": "webhook/sales-survey/duplicate-filter", "responseMode": "responseNode", "options": {} }, "id": "webhook-trigger-ventas", "name": "Trigger Filtro Duplicados Ventas", "type": "n8n-nodes-base.webhook", "typeVersion": 2.1, "position": [240, 300], "webhookId": "sales-survey-duplicate-filter" },
    { "parameters": { "jsCode": "// Validar entrada y crear VINs únicos\nconst input = $input.first()?.json || {};\nconst tenant_id = input.tenant_id || input.concesionario_id || null;\nconst clients = Array.isArray(input.clients_to_survey) ? input.clients_to_survey : [];\nconst unique_vins = [...new Set(clients.map(c => c.vehiculo_vin).filter(Boolean))];\nreturn [{ json: { tenant_id, clients_to_survey: clients, unique_vins } }];" }, "id": "validate-sales-filter-input", "name": "Validar Entrada Filtro Ventas", "type": "n8n-nodes-base.code", "typeVersion": 2.1, "position": [460, 300] },
    { "parameters": { "requestMethod": "GET", "url": "={{ $vars.SUPABASE_URL }}/rest/v1/encuestas_ventas", "sendHeaders": true, "headerParameters": { "parameters": [ { "name": "apikey", "value": "={{ $vars.SUPABASE_ANON_KEY }}" }, { "name": "Authorization", "value": "Bearer {{ $vars.SUPABASE_SERVICE_KEY }}" } ] }, "sendBody": false, "qs": { "parameters": [ { "name": "concesionario_id", "value": "eq.{{ $json.tenant_id }}" }, { "name": "vehiculo_vin", "value": "in.({{ $json.unique_vins.join(',') }})" }, { "name": "estado", "value": "eq.completado" }, { "name": "select", "value": "cliente_telefono,vehiculo_vin,origen,created_at" } ] } }, "id": "check-existing-sales-surveys", "name": "Consultar Encuestas Ventas Existentes", "type": "n8n-nodes-base.httpRequestV3", "typeVersion": 4.2, "position": [680, 300] },
    { "parameters": { "jsCode": "// Detectar duplicados por telefono+VIN en últimas 48h\nconst input = $json;\nconst recent = $('Consultar Encuestas Ventas Existentes').first().json || [];\nconst recentKeys = new Set(recent.map(r => `${r.cliente_telefono}|${r.vehiculo_vin}`));\nconst filtered = (input.clients_to_survey || []).filter(c => !recentKeys.has(`${c.telefono}|${c.vehiculo_vin}`));\nreturn [{ json: { ...input, filtered_sales_clients: filtered, filtering_stats: { input: (input.clients_to_survey||[]).length, output: filtered.length } } }];" }, "id": "detect-sales-duplicates", "name": "Detectar Duplicados Ventas", "type": "n8n-nodes-base.code", "typeVersion": 2.1, "position": [900, 300] },
    { "parameters": { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" }, "conditions": [ { "leftValue": "={{ $json.filtered_sales_clients.length }}", "rightValue": 0, "operator": { "type": "number", "operation": "gt" } } ], "combineOperation": "all" } }, "id": "check-has-sales-clients", "name": "¿Hay Clientes Ventas Válidos?", "type": "n8n-nodes-base.if", "typeVersion": 2.1, "position": [1120, 300] },
    { "parameters": { "operation": "create", "resource": "execution", "workflowId": "sales-survey-whatsapp-sender", "data": "={{ JSON.stringify({ tenant_id: $json.tenant_id, clients_to_survey: $json.filtered_sales_clients, survey_url: $json.survey_url }) }}" }, "id": "trigger-sales-sender", "name": "Trigger Sales Sender", "type": "n8n-nodes-base.n8n", "typeVersion": 2.1, "position": [1340, 200] },
    { "parameters": { "respondWith": "json", "responseBody": "={\n  \"status\": \"no_clients\",\n  \"message\": \"No hay clientes ventas para encuestar.\",\n  \"filtering_stats\": {{ JSON.stringify($json.filtering_stats) }}\n}" }, "id": "no-clients-response", "name": "No Clients Response", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 2.1, "position": [1340, 400] }
  ],
  "connections": {
    "Trigger Filtro Duplicados Ventas": { "main": [[{ "node": "Validar Entrada Filtro Ventas", "type": "main", "index": 0 }]] },
    "Validar Entrada Filtro Ventas": { "main": [[{ "node": "Consultar Encuestas Ventas Existentes", "type": "main", "index": 0 }]] },
    "Consultar Encuestas Ventas Existentes": { "main": [[{ "node": "Detectar Duplicados Ventas", "type": "main", "index": 0 }]] },
    "Detectar Duplicados Ventas": { "main": [[{ "node": "¿Hay Clientes Ventas Válidos?", "type": "main", "index": 0 }]] },
    "¿Hay Clientes Ventas Válidos?": { "main": [[{ "node": "Trigger Sales Sender", "type": "main", "index": 0 }], [{ "node": "No Clients Response", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "id": "sales-survey-duplicate-filter",
  "versionId": "1.0.1"
}