applications/workflows/business/encuestas/ventas/monitor-respuestas-ventas.json
{
  "name": "Sales Survey Response Monitor",
  "description": "Monitoreo de respuestas de encuestas de VENTAS. Principio SRP: Una sola responsabilidad - monitorear respuestas de encuestas de ventas.",
  "tags": ["sales", "survey", "monitor", "responses", "ventas", "srp"],
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook/sales-survey/response-monitor",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger-ventas",
      "name": "Trigger Monitor Respuestas Ventas",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "sales-survey-response-monitor"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $vars.SUPABASE_URL }}/rest/v1/encuestas_ventas",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "headers": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $vars.SUPABASE_SERVICE_KEY }}"
            }
          ]
        },
        "qs": {
          "parameters": [
            {
              "name": "concesionario_id",
              "value": "eq.{{ $json.tenant_id }}"
            },
            {
              "name": "origen",
              "value": "eq.WhatsApp_VENTAS"
            },
            {
              "name": "estado",
              "value": "in.(enviado_whatsapp,completado)"
            },
            {
              "name": "fecha_ultimo_contacto",
              "value": "gte.{{ new Date(Date.now() - 8*60*60*1000).toISOString() }}"
            },
            {
              "name": "select",
              "value": "cliente_telefono,cliente_nombre,vehiculo_modelo,fecha_venta,asesor_ventas_id,sucursal,estado,fecha_ultimo_contacto,fecha_completado"
            }
          ]
        }
      },
      "id": "get-whatsapp-sales-surveys",
      "name": "Obtener Encuestas WhatsApp Ventas",
      "type": "n8n-nodes-base.httpRequestV3",
      "typeVersion": 4,
      "position": [460, 300]
    },
    {
      "parameters": {
      },
      "id": "analyze-sales-responses",
      "name": "Analizar Respuestas Ventas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-pending-sales-clients",
              "leftValue": "={{ $json.sales_clients_for_call_center.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-pending-sales-clients",
      "name": "¿Hay Clientes Ventas Pendientes?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.N8N_WEBHOOK_URL }}/webhook/sales-survey/call-center-assignment",
        "headers": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $vars.N8N_WEBHOOK_AUTH_TOKEN }}"
            }
          ]
        },
        "body": {
          "parameters": [
            {
              "name": "tenant_id",
              "value": "={{ $json.tenant_id }}"
            },
            {
              "name": "sales_clients_for_call_center",
              "value": "={{ JSON.stringify($json.sales_clients_for_call_center) }}"
            },
            {
              "name": "survey_type",
              "value": "VENTAS"
            },
            {
              "name": "department",
              "value": "VENTAS"
            },
            {
              "name": "campaign_metadata",
              "value": "={{ JSON.stringify($json.campaign_metadata) }}"
            }
          ]
        }
      },
      "id": "trigger-sales-call-center",
      "name": "Disparar Asignación Contact Center Ventas",
      "type": "n8n-nodes-base.httpRequestV3",
      "typeVersion": 4,
      "position": [1120, 200]
    },
    {
      "parameters": {
      },
      "id": "generate-sales-final-report", 
      "name": "Generar Reporte Final Ventas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"message\": \"Monitoreo de respuestas VENTAS completado. Clientes sin respuesta asignados a contact center.\",\n  \"survey_type\": \"VENTAS\",\n  \"department\": \"VENTAS\",\n  \"monitoring_data\": {\n    \"sales_clients_assigned_call_center\": {{ $('Analizar Respuestas Ventas').first().json.sales_clients_for_call_center.length }},\n    \"sales_response_metrics\": {{ JSON.stringify($('Analizar Respuestas Ventas').first().json.monitoring_stats) }}\n  },\n  \"next_steps\": {\n    \"action\": \"Contact Center seguirá con clientes que no respondieron\",\n    \"timeline\": \"Asignación inmediata para llamadas telefónicas\"\n  },\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}"
      },
      "id": "success-response-ventas",
      "name": "Respuesta Éxito Ventas",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 2,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"completed\",\n  \"message\": \"Todos los clientes de VENTAS han respondido la encuesta. No se requiere seguimiento adicional.\",\n  \"survey_type\": \"VENTAS\",\n  \"department\": \"VENTAS\",\n  \"final_sales_report\": {{ JSON.stringify($json) }},\n  \"success_metrics\": {\n    \"response_rate\": \"{{ $json.final_sales_metrics.response_rate }}%\",\n    \"total_completed\": {{ $json.final_sales_metrics.total_completed }},\n    \"campaign_success\": true\n  },\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}"
      },
      "id": "campaign-completed-ventas",
      "name": "Campaña Ventas Completada",
      "type": "n8n-nodes-base.respondToWebhook", 
      "typeVersion": 2,
      "position": [1340, 400]
    }
  ],
  "connections": {
    "Trigger Monitor Respuestas Ventas": {
      "main": [
        [
          {
            "node": "Obtener Encuestas WhatsApp Ventas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Encuestas WhatsApp Ventas": {
      "main": [
        [
          {
            "node": "Analizar Respuestas Ventas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analizar Respuestas Ventas": {
      "main": [
        [
          {
            "node": "¿Hay Clientes Ventas Pendientes?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Hay Clientes Ventas Pendientes?": {
      "main": [
        [
          {
            "node": "Disparar Asignación Contact Center Ventas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generar Reporte Final Ventas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Disparar Asignación Contact Center Ventas": {
      "main": [
        [
          {
            "node": "Respuesta Éxito Ventas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Reporte Final Ventas": {
      "main": [
        [
          {
            "node": "Campaña Ventas Completada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "srp",
      "name": "srp"
    },
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "sales",
      "name": "sales"
    },
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "ventas",
      "name": "ventas"
    },
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "monitor",
      "name": "monitor"
    }
  ],
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "sales-survey-response-monitor",
  "versionId": "1.0.0"
}