applications/workflows/business/encuestas/ventas/notificador-encuestas-ventas-score-bajo.json
{
  "name": "notificador-encuestas-ventas-score-bajo",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "notification-sales-survey-low-score",
        "responseMode": "responseNode"
      },
      "id": "webhook-low-score",
      "name": "Webhook Score Bajo",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "notification-sales-survey-low-score"
    },
    {
      "parameters": {
        "functionCode": "// Procesar notificación de score bajo en encuesta de ventas\nconst data = $input.all()[0].json;\n\n// Validar que es una notificación de score bajo\nif (data.average_score > 8) {\n  console.log('Score no requiere notificación:', data.average_score);\n  return [];\n}\n\n// Obtener configuración del tenant\nconst tenantConfig = $workflow.settings.tenant_config || {};\n\nconst notificationData = {\n  tipo: 'encuesta_ventas_score_bajo',\n  tenant_id: data.concesionario_id,\n  tenant_name: tenantConfig.nombre || 'Concesionario',\n  \n  // Datos de la encuesta\n  survey_id: data.id,\n  cliente_nombre: data.cliente_nombre,\n  cliente_telefono: data.cliente_telefono,\n  vehiculo_modelo: data.vehiculo_modelo,\n  fecha_venta: data.fecha_venta,\n  \n  // Scores detallados\n  average_score: data.average_score,\n  experiencia_venta: data.experiencia_venta,\n  satisfaccion_asesor_ventas: data.satisfaccion_asesor_ventas,\n  claridad_informacion: data.claridad_informacion,\n  recomendacion_venta: data.recomendacion_venta,\n  comentario_venta: data.comentario_venta,\n  \n  // Asesor responsable\n  asesor_ventas_id: data.asesor_ventas_id,\n  \n  // Configuración de email\n  email_config: tenantConfig.email || {},\n  \n  timestamp: new Date().toISOString()\n};\n\nreturn [{ json: notificationData }];"
      },
      "id": "process-notification-data",
      "name": "Procesar Datos",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "select",
        "table": "usuarios",
        "where": "concesionario_id = '{{ $json.tenant_id }}' AND role IN ('jefe_ventas', 'gerencia', 'encargado_calidad') AND activo = true",
        "sort": "role ASC"
      },
      "id": "get-notification-recipients",
      "name": "Obtener Destinatarios",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [680, 300],
      "credentials": {
        "supabaseApi": {
          "id": "tenant-supabase-{{$workflow.settings.tenant_id}}",
          "name": "Supabase {{$workflow.settings.tenant_name}}"
        }
      }
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "select",
        "table": "usuarios",
        "where": "id = '{{ $('Procesar Datos').first().json.asesor_ventas_id }}' AND activo = true",
        "limit": 1
      },
      "id": "get-sales-advisor",
      "name": "Obtener Asesor Ventas",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [680, 180],
      "credentials": {
        "supabaseApi": {
          "id": "tenant-supabase-{{$workflow.settings.tenant_id}}",
          "name": "Supabase {{$workflow.settings.tenant_name}}"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Preparar emails para todos los destinatarios\nconst notificationData = $('Procesar Datos').first().json;\nconst recipients = $('Obtener Destinatarios').first().json || [];\nconst advisor = $('Obtener Asesor Ventas').first().json?.[0];\n\n// Agregar asesor específico a la lista si existe\nif (advisor && !recipients.find(r => r.id === advisor.id)) {\n  recipients.push(advisor);\n}\n\nif (recipients.length === 0) {\n  console.log('No se encontraron destinatarios para la notificación');\n  return [];\n}\n\n// Generar emails individuales\nconst emails = recipients.map(recipient => {\n  const subject = `🚨 ALERTA: Encuesta de Ventas con Baja Satisfacción - ${notificationData.cliente_nombre}`;\n  \n  const body = `\n<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <title>Alerta: Encuesta de Ventas - Score Bajo</title>\n</head>\n<body style=\"font-family: Arial, sans-serif; line-height: 1.6; color: #333;\">\n    <div style=\"max-width: 600px; margin: 0 auto; padding: 20px;\">\n        <h2 style=\"color: #d32f2f; border-bottom: 2px solid #d32f2f; padding-bottom: 10px;\">\n            🚨 Alerta: Encuesta de Ventas con Baja Satisfacción\n        </h2>\n        \n        <div style=\"background-color: #ffebee; padding: 15px; border-radius: 5px; margin: 20px 0;\">\n            <h3 style=\"margin-top: 0; color: #d32f2f;\">Puntuación Promedio: ${notificationData.average_score}/10</h3>\n        </div>\n        \n        <h3>📋 Detalles del Cliente:</h3>\n        <ul>\n            <li><strong>Cliente:</strong> ${notificationData.cliente_nombre}</li>\n            <li><strong>Teléfono:</strong> ${notificationData.cliente_telefono}</li>\n            <li><strong>Vehículo:</strong> ${notificationData.vehiculo_modelo}</li>\n            <li><strong>Fecha de Venta:</strong> ${notificationData.fecha_venta}</li>\n            ${advisor ? `<li><strong>Asesor:</strong> ${advisor.nombre}</li>` : ''}\n        </ul>\n        \n        <h3>📊 Puntuaciones Detalladas:</h3>\n        <ul>\n            <li><strong>Experiencia de Venta:</strong> ${notificationData.experiencia_venta}/10</li>\n            <li><strong>Satisfacción con Asesor:</strong> ${notificationData.satisfaccion_asesor_ventas}/10</li>\n            <li><strong>Claridad de Información:</strong> ${notificationData.claridad_informacion}/10</li>\n            <li><strong>Recomendación:</strong> ${notificationData.recomendacion_venta}/10</li>\n        </ul>\n        \n        ${notificationData.comentario_venta ? `\n        <h3>💬 Comentario del Cliente:</h3>\n        <div style=\"background-color: #f5f5f5; padding: 15px; border-radius: 5px; font-style: italic;\">\n            \"${notificationData.comentario_venta}\"\n        </div>\n        ` : ''}\n        \n        <div style=\"background-color: #fff3e0; padding: 15px; border-radius: 5px; margin: 20px 0;\">\n            <h3 style=\"margin-top: 0; color: #f57c00;\">🎯 Acción Requerida:</h3>\n            <p>Esta encuesta requiere <strong>atención inmediata</strong> para:</p>\n            <ul>\n                <li>Contactar al cliente para resolver inquietudes</li>\n                <li>Identificar áreas de mejora en el proceso</li>\n                <li>Implementar acciones correctivas</li>\n                <li>Seguimiento para mejorar la experiencia</li>\n            </ul>\n        </div>\n        \n        <p style=\"margin-top: 30px; font-size: 12px; color: #666;\">\n            <em>Esta alerta fue generada automáticamente por Óptima-CX el ${new Date(notificationData.timestamp).toLocaleString('es-CL')}.</em>\n        </p>\n    </div>\n</body>\n</html>\n  `;\n  \n  return {\n    json: {\n      to: recipient.email,\n      subject: subject,\n      html: body,\n      recipient_name: recipient.nombre,\n      recipient_role: recipient.role,\n      tenant_id: notificationData.tenant_id,\n      survey_id: notificationData.survey_id\n    }\n  };\n});\n\nconsole.log(`Preparando ${emails.length} emails de notificación`);\nreturn emails;"
      },
      "id": "prepare-emails",
      "name": "Preparar Emails",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "fromEmail": "={{ $workflow.settings.tenant_config.email.from_email || 'noreply@optimacx.com' }}",
        "toEmail": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.html }}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "send-email",
      "name": "Enviar Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1120, 300],
      "credentials": {
        "smtp": {
          "id": "tenant-smtp-{{$workflow.settings.tenant_id}}",
          "name": "SMTP {{$workflow.settings.tenant_name}}"
        }
      }
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "update",
        "table": "encuestas_ventas",
        "filterColumn": "id",
        "filterValue": "={{ $('Procesar Datos').first().json.survey_id }}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "notificacion_enviada": "true",
            "fecha_notificacion": "={{ new Date().toISOString() }}",
            "updated_at": "={{ new Date().toISOString() }}"
          }
        }
      },
      "id": "update-notification-status",
      "name": "Marcar Notificación Enviada",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1340, 300],
      "credentials": {
        "supabaseApi": {
          "id": "tenant-supabase-{{$workflow.settings.tenant_id}}",
          "name": "Supabase {{$workflow.settings.tenant_name}}"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  success: true,\n  message: 'Notificaciones de encuesta de ventas enviadas',\n  survey_id: $('Procesar Datos').first().json.survey_id,\n  emails_sent: $('Enviar Email').all().length,\n  average_score: $('Procesar Datos').first().json.average_score,\n  timestamp: new Date().toISOString()\n}) }}"
      },
      "id": "webhook-response",
      "name": "Respuesta Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1560, 300]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Score Bajo": {
      "main": [
        [
          {
            "node": "Procesar Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Datos": {
      "main": [
        [
          {
            "node": "Obtener Destinatarios",
            "type": "main",
            "index": 0
          },
          {
            "node": "Obtener Asesor Ventas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Destinatarios": {
      "main": [
        [
          {
            "node": "Preparar Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Asesor Ventas": {
      "main": [
        [
          {
            "node": "Preparar Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Emails": {
      "main": [
        [
          {
            "node": "Enviar Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Email": {
      "main": [
        [
          {
            "node": "Marcar Notificación Enviada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar Notificación Enviada": {
      "main": [
        [
          {
            "node": "Respuesta Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "error-handler-workflow"
  },
  "versionId": "1",
  "meta": {
    "templateCreatedBy": "optimacx-platform",
    "description": "Envía notificaciones por email cuando una encuesta de ventas tiene score bajo (≤8). Notifica a Jefe de Ventas, Asesor específico y Gerencia según CLAUDE.md",
    "tags": ["ventas", "encuestas", "notificaciones", "score-bajo", "multitenant"]
  }
}
