applications/workflows/business/encuestas/ventas/notificador-notas-bajas-ventas.json
{
  "name": "Sales Survey - Low Score Notifier",
  "description": "Notifica por email bajas calificaciones y crea caso de seguimiento (VENTAS).",
  "tags": ["sales", "survey", "notification", "low-score", "ventas"],
  "nodes": [
    { "parameters": { "workflowId": "={{ $json.workflowId || 'upstream' }}" }, "id": "sales-notification-trigger", "name": "Trigger Notificación Ventas", "type": "n8n-nodes-base.executeWorkflowTrigger", "typeVersion": 2.1, "position": [240, 300] },
    { "parameters": { "requestMethod": "GET", "url": "={{ $vars.SUPABASE_URL }}/rest/v1/usuarios", "sendHeaders": true, "headerParameters": { "parameters": [ { "name": "apikey", "value": "={{ $vars.SUPABASE_ANON_KEY }}" }, { "name": "Authorization", "value": "Bearer {{ $vars.SUPABASE_SERVICE_KEY }}" } ] }, "sendBody": false, "qs": { "parameters": [ { "name": "concesionario_id", "value": "eq.{{ $json.concesionario_id }}" }, { "name": "rol", "value": "in.(jefe_ventas,encargado_calidad)" }, { "name": "activo", "value": "eq.true" }, { "name": "select", "value": "id,email,nombre,rol" } ] } }, "id": "get-sales-recipients", "name": "Obtener Destinatarios Específicos", "type": "n8n-nodes-base.httpRequestV3", "typeVersion": 4.2, "position": [460, 300] },
    { "parameters": { "jsCode": "// Preparar datos de correo\nconst input = $input.first()?.json || {};\nconst recipients = ($('Obtener Destinatarios Específicos').first().json || []).map(r => r.email).filter(Boolean);\nconst subject = `Alerta VENTAS: Baja calificación (${input.average_score})`;\nconst html_content = `<p>Cliente: ${input.cliente_nombre || ''} (${input.cliente_telefono || ''})</p><p>Comentario: ${input.comentario||''}</p>`;\nreturn [{ json: { ...input, recipients, subject, html_content } }];" }, "id": "prepare-sales-email-data", "name": "Preparar Datos Email Ventas", "type": "n8n-nodes-base.code", "typeVersion": 2.1, "position": [680, 300] },
    { "parameters": { "sendTo": "={{ ($json.recipients || []).join(',') }}", "subject": "={{ $json.subject }}", "emailType": "html", "message": "={{ $json.html_content }}" }, "id": "send-sales-notification-email", "name": "Enviar Email Notificación Ventas", "type": "n8n-nodes-base.emailSend", "typeVersion": 2.1, "position": [900, 300] },
    { "parameters": { "requestMethod": "POST", "url": "={{ $vars.SUPABASE_URL }}/rest/v1/casos_feedback_ventas", "sendHeaders": true, "headerParameters": { "parameters": [ { "name": "apikey", "value": "={{ $vars.SUPABASE_ANON_KEY }}" }, { "name": "Authorization", "value": "Bearer {{ $vars.SUPABASE_SERVICE_KEY }}" }, { "name": "Content-Type", "value": "application/json" }, { "name": "Prefer", "value": "return=representation" } ] }, "sendBody": true, "bodyContentType": "json", "jsonBody": "={{ JSON.stringify({ survey_id: $json.survey_id || null, concesionario_id: $json.concesionario_id, sucursal_id: $json.sucursal_id || null, asesor_ventas_id: $json.venta_info?.asesor_ventas_id || null, jefe_ventas_id: null, encargado_calidad_id: null, creado_en: new Date().toISOString() }) }}" }, "id": "create-feedback-case", "name": "Crear Caso de Feedback", "type": "n8n-nodes-base.httpRequestV3", "typeVersion": 4.2, "position": [1120, 300] },
    { "parameters": { "jsCode": "// Log simple\nreturn [{ json: { notified: true, case_created: true, time: new Date().toISOString() } }];" }, "id": "log-sales-notification-sent", "name": "Log Notificación y Caso Creado", "type": "n8n-nodes-base.code", "typeVersion": 2.1, "position": [1340, 300] }
  ],
  "connections": {
    "Trigger Notificación Ventas": { "main": [[{ "node": "Obtener Destinatarios Específicos", "type": "main", "index": 0 }]] },
    "Obtener Destinatarios Específicos": { "main": [[{ "node": "Preparar Datos Email Ventas", "type": "main", "index": 0 }]] },
    "Preparar Datos Email Ventas": { "main": [[{ "node": "Enviar Email Notificación Ventas", "type": "main", "index": 0 }]] },
    "Enviar Email Notificación Ventas": { "main": [[{ "node": "Crear Caso de Feedback", "type": "main", "index": 0 }]] },
    "Crear Caso de Feedback": { "main": [[{ "node": "Log Notificación y Caso Creado", "type": "main", "index": 0 }]] }
  },
  "settings": { "saveExecutionProgress": true, "saveManualExecutions": true }
}