applications/workflows/business/encuestas/ventas/procesador-excel-ventas.json
{
  "name": "Sales Survey Excel Processor",
  "description": "Procesador de Excel para encuestas de VENTAS. Principio SRP: Una sola responsabilidad - procesar datos Excel de clientes de ventas.",
  "tags": [
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "srp",
      "name": "srp"
    },
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "sales",
      "name": "sales"
    },
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "ventas",
      "name": "ventas"
    },
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "excel",
      "name": "excel"
    }
  ],
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook/sales-survey/excel-upload",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-excel-upload-ventas",
      "name": "Excel Upload Webhook Ventas",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        300
      ],
      "webhookId": "sales-survey-excel-upload"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "tenant-id-present",
              "leftValue": "={{ $json.tenant_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            },
            {
              "id": "excel-data-present",
              "leftValue": "={{ $json.sales_excel_data }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "validate-sales-upload",
      "name": "Validar Upload Ventas",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {},
      "id": "process-sales-excel-data",
      "name": "Procesar Datos Excel Ventas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2.1,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.N8N_WEBHOOK_URL }}/webhook/sales-survey/duplicate-filter",
        "headers": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $vars.N8N_WEBHOOK_AUTH_TOKEN }}"
            }
          ]
        },
        "body": {
          "parameters": [
            {
              "name": "tenant_id",
              "value": "={{ $json.tenant_id }}"
            },
            {
              "name": "sales_clients_excel",
              "value": "={{ JSON.stringify($json.sales_clients_excel) }}"
            },
            {
              "name": "survey_type",
              "value": "VENTAS"
            },
            {
              "name": "department",
              "value": "VENTAS"
            },
            {
              "name": "upload_metadata",
              "value": "={{ JSON.stringify($json.upload_metadata) }}"
            },
            {
              "name": "campaign_id",
              "value": "sales_campaign_{{ Date.now() }}"
            }
          ]
        }
      },
      "id": "trigger-sales-duplicate-filter",
      "name": "Disparar Filtro Duplicados Ventas",
      "type": "n8n-nodes-base.httpRequestV3",
      "typeVersion": 4,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"message\": \"Excel de VENTAS procesado correctamente. Iniciando filtrado de duplicados.\",\n  \"survey_type\": \"VENTAS\",\n  \"department\": \"VENTAS\",\n  \"processing_data\": {\n    \"total_sales_clients\": {{ $('Procesar Datos Excel Ventas').first().json.total_clients }},\n    \"unique_vehicles\": {{ $('Procesar Datos Excel Ventas').first().json.processing_stats.unique_vehicles }},\n    \"unique_advisors\": {{ $('Procesar Datos Excel Ventas').first().json.processing_stats.unique_advisors }},\n    \"uploaded_by\": \"{{ $('Procesar Datos Excel Ventas').first().json.upload_metadata.uploaded_by }}\"\n  },\n  \"next_steps\": {\n    \"current_step\": \"Filtrado de duplicados en proceso\",\n    \"next_step\": \"Envío masivo WhatsApp a clientes únicos\",\n    \"estimated_time\": \"2-3 minutos\"\n  },\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}"
      },
      "id": "success-response-ventas",
      "name": "Respuesta Éxito Ventas",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 2.1,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"error\",\n  \"message\": \"Datos de upload de VENTAS inválidos. Verifique el formato del Excel y tenant_id.\",\n  \"survey_type\": \"VENTAS\",\n  \"department\": \"VENTAS\",\n  \"error_details\": {\n    \"tenant_id_present\": {{ !!$json.tenant_id }},\n    \"sales_excel_data_present\": {{ !!$json.sales_excel_data }},\n    \"required_fields\": [\"tenant_id\", \"sales_excel_data\"],\n    \"validation_failed\": true\n  },\n  \"recommendations\": {\n    \"check_tenant_id\": \"Asegúrese de que el tenant_id esté presente\",\n    \"check_excel_format\": \"Verifique que el Excel tenga las columnas: nombre, telefono, vehiculo, vin, fecha_venta, asesor_ventas\",\n    \"contact_support\": \"Si el problema persiste, contacte al equipo técnico\"\n  },\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "error-response-ventas",
      "name": "Respuesta Error Ventas",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 2.1,
      "position": [
        460,
        500
      ]
    }
  ],
  "connections": {
    "Excel Upload Webhook Ventas": {
      "main": [
        [
          {
            "node": "Validar Upload Ventas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Upload Ventas": {
      "main": [
        [
          {
            "node": "Procesar Datos Excel Ventas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respuesta Error Ventas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Datos Excel Ventas": {
      "main": [
        [
          {
            "node": "Disparar Filtro Duplicados Ventas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Disparar Filtro Duplicados Ventas": {
      "main": [
        [
          {
            "node": "Respuesta Éxito Ventas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "sales-survey-excel-processor",
  "versionId": "1.0.0"
}
