applications/workflows/business/encuestas/ventas/procesador-qr-ventas.json
{
  "name": "Sales Survey - QR Processor",
  "description": "Procesa encuestas de VENTAS recibidas vía código QR, valida datos, registra en tabla separada y notifica bajas calificaciones al jefe de ventas.",
  "tags": ["sales", "survey", "qr", "ventas", "notification"],
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook/sales-survey/qr",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-qr-sales-survey",
      "name": "Webhook QR Sales Survey",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [200, 300]
    },
    {
      "parameters": {
      },
      "id": "validate-and-process-sales-qr-data",
      "name": "Validar y Procesar Datos QR Ventas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 300]
    },
    {
      "parameters": {
        "operation": "create",
        "resource": "execution",
        "workflowId": "sales-survey-response-handler",
        "data": "={{ JSON.stringify($json) }}"
      },
      "id": "trigger-sales-response-handler",
      "name": "Disparar Manejador Respuestas Ventas",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 2,
      "position": [600, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"message\": \"Encuesta de VENTAS QR procesada exitosamente.\",\n  \"survey_type\": \"VENTAS\",\n  \"average_score\": {{ $('Validar y Procesar Datos QR Ventas').first().json.average_score }},\n  \"department\": \"VENTAS\"\n}"
      },
      "id": "success-response-sales",
      "name": "Respuesta Exitosa Ventas",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 2,
      "position": [800, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"error\",\n  \"message\": \"Error al procesar la encuesta QR de VENTAS.\",\n  \"survey_type\": \"VENTAS\",\n  \"error_details\": \"{{ $json.error?.message || 'Error desconocido' }}\",\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "error-response-sales",
      "name": "Respuesta de Error Ventas",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 2,
      "position": [600, 480]
    }
  ],
  "connections": {
    "Webhook QR Sales Survey": {
      "main": [
        [
          {
            "node": "Validar y Procesar Datos QR Ventas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar y Procesar Datos QR Ventas": {
      "main": [
        [
          {
            "node": "Disparar Manejador Respuestas Ventas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respuesta de Error Ventas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Disparar Manejador Respuestas Ventas": {
      "main": [
        [
          {
            "node": "Respuesta Exitosa Ventas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}