applications/workflows/business/campañas/envio-masivo-whatsapp.json

{
	"name": "Campañas - Envío masivo WhatsApp",
	"nodes": [
		{
			"parameters": {
				"httpMethod": "POST",
				"path": "campaigns/whatsapp/send",
				"responseMode": "responseNode",
				"options": {}
			},
			"id": "trigger-whatsapp-campaign",
			"name": "Trigger Campaña WhatsApp",
			"type": "n8n-nodes-base.webhook",
			"typeVersion": 2.1,
			"position": [240, 300],
			"webhookId": "campaigns-whatsapp-send"
		},
		{
			"parameters": {
				"jsCode": "// Espera body con: { clients: [{telefono, nombre}], messageTemplate, tenant_config }\nconst body = $json;\nconst clients = Array.isArray(body.clients) ? body.clients : [];\nconst template = body.messageTemplate || 'Hola {{nombre}}, te contactamos por tu campaña.';\nconst messages = clients.map(c => ({\n  to: c.telefono,\n  mensaje: template.replace(/\\{\\{nombre\\}\\}/g, c.nombre || 'cliente'),\n  meta: { cliente: c, tenant_config: body.tenant_config || {} }\n}));\nreturn { messages, tenant_config: body.tenant_config || {} };"
			},
			"id": "prepare-messages",
			"name": "Preparar mensajes",
			"type": "n8n-nodes-base.code",
			"typeVersion": 2.1,
			"position": [520, 300]
		},
		{
			"parameters": {
				"fieldToSplitOut": "messages",
				"options": {}
			},
			"id": "split-messages",
			"name": "Dividir mensajes",
			"type": "n8n-nodes-base.itemLists",
			"typeVersion": 3,
			"position": [760, 300]
		},
		{
			"parameters": {
				"method": "POST",
				"url": "={{ $vars.WHATSAPP_API_URL || ('https://graph.facebook.com/v19.0/' + $vars.WHATSAPP_PHONE_ID + '/messages') }}",
				"authentication": "genericCredentialType",
				"genericAuthType": "httpHeaderAuth",
				"headers": {
					"parameters": [
						{ "name": "Authorization", "value": "Bearer {{ $vars.WHATSAPP_ACCESS_TOKEN }}" },
						{ "name": "Content-Type", "value": "application/json" }
					]
				},
				"body": {
					"parameters": [
						{ "name": "messaging_product", "value": "whatsapp" },
						{ "name": "to", "value": "={{ $json.to }}" },
						{ "name": "type", "value": "text" },
						{ "name": "text", "value": "={ { body: $json.mensaje } }" }
					]
				},
				"options": {}
			},
			"id": "send-whatsapp",
			"name": "Enviar WhatsApp",
			"type": "n8n-nodes-base.httpRequestV3",
			"typeVersion": 4.2,
			"position": [1000, 300]
		},
		{
			"parameters": {
				"respondWith": "json",
				"responseBody": "={{ ({ status: 'ok', sent: $items().length, timestamp: new Date().toISOString() }) }}"
			},
			"id": "respond",
			"name": "Responder",
			"type": "n8n-nodes-base.respondToWebhook",
			"typeVersion": 2.1,
			"position": [1240, 300]
		}
	],
	"connections": {
		"Trigger Campaña WhatsApp": { "main": [[{ "node": "Preparar mensajes", "type": "main", "index": 0 }]] },
		"Preparar mensajes": { "main": [[{ "node": "Dividir mensajes", "type": "main", "index": 0 }]] },
		"Dividir mensajes": { "main": [[{ "node": "Enviar WhatsApp", "type": "main", "index": 0 }]] },
		"Enviar WhatsApp": { "main": [[{ "node": "Responder", "type": "main", "index": 0 }]] }
	},
	"settings": { "executionOrder": "v1" },
	"staticData": null,
	"tags": [ { "id": "campañas", "name": "campañas" }, { "id": "whatsapp", "name": "whatsapp" } ],
	"versionId": "1.0.0"
}
