applications/workflows/utils/manejador-errores.json
{
  "name": "Utils - Error Handler Utility",
  "description": "Workflow utilitario enfocado en manejo centralizado de errores y validaciones. Principio SRP: Una sola responsabilidad - manejo estandarizado de errores.",
  "tags": ["utils", "error", "validation", "srp", "centralized"],
  "nodes": [
    {
      "parameters": {
        "workflowId": "{{ $json.workflowId }}"
      },
      "id": "workflow-trigger",
      "name": "Trigger del Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
      },
      "id": "categorize-error",
      "name": "Categorizar Error",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.severity }}",
              "operation": "equal",
              "value2": "high"
            }
          ]
        }
      },
      "id": "check-high-severity",
      "name": "¿Severidad Alta?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "error_logs",
        "columns": "error_id, tenant_id, workflow_name, node_id, error_category, severity, error_message, context_data, technical_actions, created_at",
        "additionalFields": {
          "values": "={{ [$json.error_id, $json.context.tenant_id, $json.context.workflow_name, $json.context.node_id, $json.error_category, $json.severity, $json.technical_details.original_message, JSON.stringify($json.context), JSON.stringify($json.technical_actions), $json.context.timestamp] }}"
        }
      },
      "id": "log-error-database",
      "name": "Registrar Error en BD",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "operation": "create",
        "resource": "execution",
        "workflowId": "notification-urgent-alert",
        "data": "={{ JSON.stringify({alert_type: 'high_severity_error', error_data: $json, immediate_escalation: true}) }}"
      },
      "id": "trigger-urgent-notification",
      "name": "Disparar Alerta Urgente",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [1120, 200]
    },
    {
      "parameters": {
      },
      "id": "generate-recovery-plan",
      "name": "Generar Plan Recuperación",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.recovery_strategy.can_auto_recover }}",
              "operation": "equal",
              "value2": true
            }
          ]
        }
      },
      "id": "check-auto-recoverable",
      "name": "¿Recuperación Automática?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1340, 400]
    },
    {
      "parameters": {
        "operation": "create",
        "resource": "execution",
        "workflowId": "{{ $json.recovery_strategy.fallback_workflows[0] || 'error-manual-handler' }}",
        "data": "={{ JSON.stringify($json) }}"
      },
      "id": "trigger-auto-recovery",
      "name": "Iniciar Recuperación Automática",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [1560, 300]
    },
    {
      "parameters": {
      },
      "id": "prepare-manual-escalation",
      "name": "Preparar Escalación Manual",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1560, 500]
    },
    {
      "parameters": {
        "operation": "create",
        "resource": "execution",
        "workflowId": "notification-incident-alert",
        "data": "={{ JSON.stringify($json) }}"
      },
      "id": "trigger-incident-notification",
      "name": "Notificar Incidente",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [1780, 500]
    },
    {
      "parameters": {
      },
      "id": "generate-final-response",
      "name": "Generar Respuesta Final",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [2000, 400]
    }
  ],
  "connections": {
    "Trigger del Workflow": {
      "main": [
        [
          {
            "node": "Categorizar Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Categorizar Error": {
      "main": [
        [
          {
            "node": "¿Severidad Alta?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Severidad Alta?": {
      "main": [
        [
          {
            "node": "Registrar Error en BD",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Registrar Error en BD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Error en BD": {
      "main": [
        [
          {
            "node": "Disparar Alerta Urgente",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generar Plan Recuperación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Disparar Alerta Urgente": {
      "main": [
        [
          {
            "node": "Generar Respuesta Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Plan Recuperación": {
      "main": [
        [
          {
            "node": "¿Recuperación Automática?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Recuperación Automática?": {
      "main": [
        [
          {
            "node": "Iniciar Recuperación Automática",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Escalación Manual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Iniciar Recuperación Automática": {
      "main": [
        [
          {
            "node": "Generar Respuesta Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Escalación Manual": {
      "main": [
        [
          {
            "node": "Notificar Incidente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificar Incidente": {
      "main": [
        [
          {
            "node": "Generar Respuesta Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}