applications/workflows/utils/utilidad-validacion.json
{
  "name": "Utils - Validation Utility", 
  "description": "Workflow utilitario enfocado en validaciones estandarizadas reutilizables. Principio SRP: Una sola responsabilidad - validaciones centralizadas.",
  "tags": ["utils", "validation", "reusable", "srp", "standards"],
  "nodes": [
    {
      "parameters": {
        "workflowId": "{{ $json.workflowId }}"
      },
      "id": "workflow-trigger",
      "name": "Trigger del Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
      },
      "id": "coordinate-validation",
      "name": "Coordinar Validación",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.validation_type }}",
              "rightValue": "tenant_data",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "leftValue": "={{ $json.validation_type }}",
              "rightValue": "customer_data",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "leftValue": "={{ $json.validation_type }}",
              "rightValue": "complaint_data",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combineOperation": "any"
        }
      },
      "id": "route-business-validation",
      "name": "¿Validación de Negocio?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
      },
      "id": "validate-business-data",
      "name": "Validar Datos Negocio",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [900, 200]
    },
    {
      "parameters": {
      },
      "id": "validate-technical-data",
      "name": "Validar Datos Técnicos",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [900, 400]
    },
    {
      "parameters": {
      },
      "id": "consolidate-validation-results",
      "name": "Consolidar Resultados",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Trigger del Workflow": {
      "main": [
        [
          {
            "node": "Coordinar Validación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coordinar Validación": {
      "main": [
        [
          {
            "node": "¿Validación de Negocio?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Validación de Negocio?": {
      "main": [
        [
          {
            "node": "Validar Datos Negocio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validar Datos Técnicos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Datos Negocio": {
      "main": [
        [
          {
            "node": "Consolidar Resultados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Datos Técnicos": {
      "main": [
        [
          {
            "node": "Consolidar Resultados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}