applications/workflows/utils/validador-mensajes-whatsapp.json
{
  "name": "WhatsApp - Validación de Mensajes",
  "description": "Workflow enfocado únicamente en validar y parsear mensajes entrantes de WhatsApp",
  "tags": ["whatsapp", "validation", "srp"],
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-whatsapp",
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.object}}",
              "operation": "equal",
              "value2": "whatsapp_business_account"
            }
          ]
        }
      },
      "id": "validate-webhook-type",
      "name": "Validar Tipo de Webhook",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [400, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.entry && $json.entry[0] && $json.entry[0].changes && $json.entry[0].changes[0] && $json.entry[0].changes[0].value && $json.entry[0].changes[0].value.messages}}",
              "operation": "equal",
              "value2": "true"
            }
          ]
        }
      },
      "id": "validate-has-messages",
      "name": "Validar Contiene Mensajes",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [600, 280]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.entry[0].changes[0].value.messages[0].type}}",
              "operation": "equal",
              "value2": "text"
            }
          ]
        }
      },
      "id": "validate-message-type",
      "name": "Validar Tipo Mensaje",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [800, 280]
    },
    {
      "parameters": {
      },
      "id": "parse-message-data",
      "name": "Parsear Datos del Mensaje",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 280]
    },
    {
      "parameters": {
        "operation": "create",
        "resource": "execution",
        "workflowId": "{{ $('Set Variables').item.json.tenant_lookup_workflow_id }}",
        "data": "={{ JSON.stringify({ phoneNumberId: $json.whatsapp_phone_number_id, validatedMessage: $json }) }}"
      },
      "id": "trigger-tenant-lookup",
      "name": "Buscar Tenant",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 2,
      "position": [1200, 280]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK"
      },
      "id": "webhook-response",
      "name": "Respuesta Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 2,
      "position": [1400, 280]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Invalid message format",
        "responseCode": 400
      },
      "id": "error-response",
      "name": "Error de Validación",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 2,
      "position": [600, 480]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "tenant_lookup_workflow_id",
              "value": "tenant-lookup-workflow"
            }
          ]
        }
      },
      "id": "set-variables",
      "name": "Set Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [1000, 140]
    }
  ],
  "connections": {
    "WhatsApp Webhook": {
      "main": [
        [
          {
            "node": "Validar Tipo de Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Tipo de Webhook": {
      "main": [
        [
          {
            "node": "Validar Contiene Mensajes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error de Validación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Contiene Mensajes": {
      "main": [
        [
          {
            "node": "Validar Tipo Mensaje",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error de Validación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Tipo Mensaje": {
      "main": [
        [
          {
            "node": "Parsear Datos del Mensaje",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error de Validación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear Datos del Mensaje": {
      "main": [
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables": {
      "main": [
        [
          {
            "node": "Buscar Tenant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Tenant": {
      "main": [
        [
          {
            "node": "Respuesta Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}