applications/workflows/business/leads/analisis-ia-leads.json
{
  "name": "Lead - Análisis con IA",
  "description": "Workflow enfocado en analizar mensajes con IA y extraer insights del lead",
  "tags": ["ai", "analysis", "lead", "srp"],
  "nodes": [
    {
      "parameters": {
        "workflowId": "{{ $json.workflowId }}"
      },
      "id": "workflow-trigger",
      "name": "Trigger del Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM leads WHERE telefono_cliente = $1 AND concesionario_id = $2 ORDER BY created_at DESC LIMIT 1",
        "additionalFields": {
          "queryParameters": "={{ [$json.validated_message.from, $json.tenant_id] }}"
        }
      },
      "id": "check-existing-lead",
      "name": "Buscar Lead Existente",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [400, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.length }}",
              "operation": "greaterThan",
              "value2": 0
            }
          ]
        }
      },
      "id": "is-existing-lead",
      "name": "¿Lead Existente?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [600, 300]
    },
    {
      "parameters": {
      },
      "id": "prepare-ai-analysis",
      "name": "Preparar Análisis IA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 300]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "prompt": "={{ $json.prompt }}",
        "options": {
          "temperature": "={{ $json.temperature }}",
          "maxTokens": "={{ $json.max_tokens }}",
          "topP": 1
        }
      },
      "id": "ai-analysis",
      "name": "Análisis con IA",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [1000, 300]
    },
    {
      "parameters": {},
      "id": "process-ai-response",
      "name": "Procesar Respuesta IA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "operation": "create",
        "resource": "execution",
        "workflowId": "lead-scoring-ai", 
        "data": "={{ JSON.stringify($json) }}"
      },
      "id": "trigger-lead-scoring",
      "name": "Calcular Score de Lead",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 2,
      "position": [1300, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.next_action.workflow === 'advisor-assignment' }}",
              "operation": "equal",
              "value2": true
            }
          ]
        }
      },
      "id": "requires-advisor",
      "name": "¿Requiere Asesor?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1400, 300]
    }
  ],
  "connections": {
    "Trigger del Workflow": {
      "main": [
        [
          {
            "node": "Buscar Lead Existente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Lead Existente": {
      "main": [
        [
          {
            "node": "¿Lead Existente?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Lead Existente?": {
      "main": [
        [
          {
            "node": "Preparar Análisis IA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Análisis IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Análisis IA": {
      "main": [
        [
          {
            "node": "Análisis con IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Análisis con IA": {
      "main": [
        [
          {
            "node": "Procesar Respuesta IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Respuesta IA": {
      "main": [
        [
          {
            "node": "Calcular Score de Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular Score de Lead": {
      "main": [
        [
          {
            "node": "¿Requiere Asesor?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Requiere Asesor?": {
      "main": []
    }
  },
  "settings": {
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}