applications/workflows/business/leads/asignacion-asesores.json
{
  "meta": {
    "instanceId": "asign-asesores-001"
  },
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "asignar-asesor-lead",
        "options": {}
      },
      "id": "webhook-assignment",
      "name": "Webhook Asignaci贸n",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "lead-assignment-trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  l.*,\n  c.id as concesionario_id,\n  c.nombre as concesionario_nombre\nFROM leads l\nLEFT JOIN concesionarios c ON l.concesionario_id = c.id\nWHERE l.id = {{ $json.lead_id }}\nLIMIT 1;",
        "options": {}
      },
      "id": "get-lead-data",
      "name": "Obtener Datos Lead",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [460, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-main",
          "name": "Supabase Main DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH asesor_cargas AS (\n  SELECT \n    a.id,\n    a.nombre,\n    a.email,\n    a.telefono,\n    a.concesionario_id,\n    a.especialidad,\n    a.activo,\n    COALESCE(COUNT(l.id), 0) as leads_asignados,\n    a.capacidad_maxima,\n    (a.capacidad_maxima - COALESCE(COUNT(l.id), 0)) as capacidad_disponible\n  FROM asesores a\n  LEFT JOIN leads l ON a.id = l.asesor_id \n    AND l.estado IN ('nuevo', 'contactado', 'seguimiento')\n    AND l.fecha_contacto >= NOW() - INTERVAL '7 days'\n  WHERE a.activo = true\n    AND ({{ $json.concesionario_id ? 'a.concesionario_id = ' + $json.concesionario_id : '1=1' }})\n  GROUP BY a.id, a.nombre, a.email, a.telefono, a.concesionario_id, a.especialidad, a.activo, a.capacidad_maxima\n  HAVING capacidad_disponible > 0\n)\nSELECT *\nFROM asesor_cargas\nORDER BY \n  CASE \n    WHEN '{{ $json.prioridad }}' = 'alta' THEN especialidad = 'premium'\n    ELSE 1\n  END DESC,\n  capacidad_disponible DESC,\n  leads_asignados ASC\nLIMIT 1;",
        "options": {}
      },
      "id": "find-best-advisor",
      "name": "Encontrar Mejor Asesor",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [680, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-main",
          "name": "Supabase Main DB"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "asesor-disponible",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-advisor-available",
      "name": "驴Asesor Disponible?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "table": "leads",
        "updateKey": "id",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "asesor_id": "={{ $('Encontrar Mejor Asesor').first().json.id }}",
            "estado": "asignado",
            "fecha_asignacion": "={{ new Date().toISOString() }}",
            "metadata": "={{ JSON.stringify({ \n  asesor_nombre: $('Encontrar Mejor Asesor').first().json.nombre,\n  asesor_email: $('Encontrar Mejor Asesor').first().json.email,\n  capacidad_previa: $('Encontrar Mejor Asesor').first().json.leads_asignados,\n  fecha_asignacion: new Date().toISOString()\n}) }}"
          }
        },
        "where": {
          "values": [
            {
              "column": "id",
              "condition": "=",
              "value": "={{ $('webhook-assignment').first().json.lead_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "update-lead-assignment",
      "name": "Actualizar Asignaci贸n Lead",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1120, 200],
      "credentials": {
        "postgres": {
          "id": "supabase-main",
          "name": "Supabase Main DB"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Encontrar Mejor Asesor').first().json.email }}",
        "subject": " Nuevo Lead Asignado - {{ $('Obtener Datos Lead').first().json.nombre }}",
        "message": "=Hola {{ $('Encontrar Mejor Asesor').first().json.nombre }},\n\nSe te ha asignado un nuevo lead:\n\n **Cliente:** {{ $('Obtener Datos Lead').first().json.nombre }}\n **Tel茅fono:** {{ $('Obtener Datos Lead').first().json.telefono }}\n **Mensaje inicial:** {{ $('Obtener Datos Lead').first().json.mensaje_inicial }}\n **Prioridad:** {{ $('Obtener Datos Lead').first().json.prioridad }}\n **Fecha contacto:** {{ new Date($('Obtener Datos Lead').first().json.fecha_contacto).toLocaleString() }}\n\n**Acci贸n requerida:** Contactar al cliente en las pr贸ximas 2 horas.\n\nAccede al CRM: https://crm.optimacx.com/leads/{{ $('webhook-assignment').first().json.lead_id }}\n\nSaludos,\nSistema OptimaCX",
        "options": {
          "allowUnauthorizedCerts": false,
          "ccEmail": "gerencia@optimacx.com",
          "bccEmail": ""
        }
      },
      "id": "notify-advisor",
      "name": "Notificar Asesor",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1340, 200],
      "credentials": {
        "smtp": {
          "id": "smtp-optimacx",
          "name": "SMTP OptimaCX"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.whatsapp.com/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $vars.WHATSAPP_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $('Encontrar Mejor Asesor').first().json.telefono }}"
            },
            {
              "name": "text",
              "value": " Nuevo lead asignado: {{ $('Obtener Datos Lead').first().json.nombre }} - {{ $('Obtener Datos Lead').first().json.telefono }}. Mensaje: {{ $('Obtener Datos Lead').first().json.mensaje_inicial }}. Prioridad: {{ $('Obtener Datos Lead').first().json.prioridad }}. Contactar ASAP."
            }
          ]
        },
        "options": {}
      },
      "id": "whatsapp-notification",
      "name": "WhatsApp Asesor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 400]
    },
    {
      "parameters": {
        "sendTo": "gerencia@optimacx.com",
        "subject": "锔 Sin Asesores Disponibles - Lead No Asignado",
        "message": "=**ALERTA:** No se pudo asignar el siguiente lead por falta de asesores disponibles:\n\n **Cliente:** {{ $('Obtener Datos Lead').first().json.nombre }}\n **Tel茅fono:** {{ $('Obtener Datos Lead').first().json.telefono }}\n **Mensaje:** {{ $('Obtener Datos Lead').first().json.mensaje_inicial }}\n **Prioridad:** {{ $('Obtener Datos Lead').first().json.prioridad }}\n\n**Acci贸n requerida:** Revisar capacidad de asesores o asignaci贸n manual.\n\nAcceso directo: https://crm.optimacx.com/leads/{{ $('webhook-assignment').first().json.lead_id }}\n\nSistema OptimaCX",
        "options": {
          "allowUnauthorizedCerts": false
        }
      },
      "id": "alert-no-advisor",
      "name": "Alerta Sin Asesor",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1120, 400],
      "credentials": {
        "smtp": {
          "id": "smtp-optimacx",
          "name": "SMTP OptimaCX"
        }
      }
    }
  ],
  "connections": {
    "Webhook Asignaci贸n": {
      "main": [
        [
          {
            "node": "Obtener Datos Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Datos Lead": {
      "main": [
        [
          {
            "node": "Encontrar Mejor Asesor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Encontrar Mejor Asesor": {
      "main": [
        [
          {
            "node": "驴Asesor Disponible?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "驴Asesor Disponible?": {
      "main": [
        [
          {
            "node": "Actualizar Asignaci贸n Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alerta Sin Asesor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar Asignaci贸n Lead": {
      "main": [
        [
          {
            "node": "Notificar Asesor",
            "type": "main",
            "index": 0
          },
          {
            "node": "WhatsApp Asesor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["leads", "asignacion", "asesores"],
  "triggerCount": 0,
  "updatedAt": "2024-08-09T05:47:00.000Z",
  "versionId": "asign-asesores-v2.1",
  "name": "Asignaci贸n Autom谩tica Asesores",
  "active": true,
  "id": "asign-asesores-auto",
  "hash": "automatic-advisor-assignment"
}
