applications/workflows/business/leads/lead-whatsapp-orchestrator.json
{
  "name": "Lead - WhatsApp Orchestrator",
  "description": "Orquesta el procesamiento completo de leads de WhatsApp: validación, lookup de tenant, análisis IA, scoring, gestión y notificaciones.",
  "tags": ["lead", "whatsapp", "orchestrator", "main"],
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook/whatsapp/lead-orchestrator",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-whatsapp-lead",
      "name": "WhatsApp Lead Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "operation": "create",
        "resource": "execution",
        "workflowId": "whatsapp-message-validator",
        "data": "={{ JSON.stringify($json) }}"
      },
      "id": "trigger-message-validator",
      "name": "Validar Mensaje WhatsApp",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [400, 300]
    },
    {
      "parameters": {
        "operation": "create",
        "resource": "execution",
        "workflowId": "tenant-config-loader",
        "data": "={{ JSON.stringify($json) }}"
      },
      "id": "trigger-tenant-loader",
      "name": "Cargar Configuración Tenant",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [600, 300]
    },
    {
      "parameters": {
        "operation": "create",
        "resource": "execution",
        "workflowId": "lead-analysis-ai",
        "data": "={{ JSON.stringify($json) }}"
      },
      "id": "trigger-lead-analysis",
      "name": "Analizar Lead con IA",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [800, 300]
    },
    {
      "parameters": {
        "operation": "create",
        "resource": "execution",
        "workflowId": "lead-assignment",
        "data": "={{ JSON.stringify($json) }}"
      },
      "id": "trigger-lead-management",
      "name": "Gestionar Lead",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"message\": \"Lead procesado y asignado exitosamente.\",\n  \"lead_id\": \"={{ $('Gestionar Lead').first().json.lead_id }}\",\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}"
      },
      "id": "success-response",
      "name": "Respuesta Exitosa",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1200, 300]
    }
  ],
  "connections": {
    "WhatsApp Lead Webhook": {
      "main": [
        [
          {
            "node": "Validar Mensaje WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Mensaje WhatsApp": {
      "main": [
        [
          {
            "node": "Cargar Configuración Tenant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cargar Configuración Tenant": {
      "main": [
        [
          {
            "node": "Analizar Lead con IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analizar Lead con IA": {
      "main": [
        [
          {
            "node": "Gestionar Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gestionar Lead": {
      "main": [
        [
          {
            "node": "Respuesta Exitosa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}