applications/workflows/business/leads/lead-whatsapp-orchestrator.json
{
  "name": "Lead - WhatsApp Orchestrator",
  "description": "Orquesta el procesamiento completo de leads de WhatsApp: validación, lookup de tenant, análisis IA, scoring, gestión y notificaciones.",
  "tags": [
    "lead",
    "whatsapp",
    "orchestrator",
    "main"
  ],
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook/whatsapp/lead-orchestrator",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-whatsapp-lead",
      "name": "WhatsApp Lead Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Validar payload básico de WhatsApp\nconst inData = $input.first().json || {};\nconst required = ['from', 'body'];\nconst missing = required.filter(field => !inData[field]);\nconst valid = missing.length === 0;\nreturn [{ json: { ...inData, valid, missing_fields: missing } }];"
      },
      "id": "validate-whatsapp-payload",
      "name": "Validar Payload WhatsApp",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2.1,
      "position": [
        400,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue": "={{ $json.valid }}",
              "operator": { "type": "boolean", "operation": "isTrue" },
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-valid-payload",
      "name": "¿Payload Válido?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        600,
        300
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "resource": "execution",
        "workflowId": "validador-mensajes-whatsapp",
        "data": "={{ JSON.stringify($json) }}"
      },
      "id": "trigger-message-validator",
      "name": "Validar Mensaje WhatsApp",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 2.1,
      "position": [
        800,
        300
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "resource": "execution",
        "workflowId": "cargador-config-tenant",
        "data": "={{ JSON.stringify($json) }}"
      },
      "id": "trigger-tenant-loader",
      "name": "Cargar Configuración Tenant",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 2.1,
      "position": [
        1000,
        300
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "resource": "execution",
        "workflowId": "analisis-ia-leads",
        "data": "={{ JSON.stringify($json) }}"
      },
      "id": "trigger-lead-analysis",
      "name": "Analizar Lead con IA",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 2.1,
      "position": [
        1200,
        300
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "resource": "execution",
        "workflowId": "asignacion-asesores",
        "data": "={{ JSON.stringify($json) }}"
      },
      "id": "trigger-lead-management",
      "name": "Gestionar Lead",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 2.1,
      "position": [
        1400,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"message\": \"Lead procesado y asignado exitosamente\",\n  \"lead_id\": \"{{ $('Gestionar Lead').first().json.lead_id }}\",\n  \"advisor_assigned\": \"{{ $('Gestionar Lead').first().json.advisor_email || 'pendiente' }}\",\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}"
      },
      "id": "success-response",
      "name": "Respuesta Exitosa",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 2.1,
      "position": [
        1600,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"error\",\n  \"message\": \"Payload inválido para WhatsApp\",\n  \"missing_fields\": {{ JSON.stringify($json.missing_fields) }},\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}"
      },
      "id": "error-response",
      "name": "Respuesta Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 2.1,
      "position": [
        800,
        500
      ]
    }
  ],
  "connections": {
    "WhatsApp Lead Webhook": {
      "main": [
        [
          {
            "node": "Validar Payload WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Payload WhatsApp": {
      "main": [
        [
          {
            "node": "¿Payload Válido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Payload Válido?": {
      "main": [
        [
          {
            "node": "Validar Mensaje WhatsApp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respuesta Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Mensaje WhatsApp": {
      "main": [
        [
          {
            "node": "Cargar Configuración Tenant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cargar Configuración Tenant": {
      "main": [
        [
          {
            "node": "Analizar Lead con IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analizar Lead con IA": {
      "main": [
        [
          {
            "node": "Gestionar Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gestionar Lead": {
      "main": [
        [
          {
            "node": "Respuesta Exitosa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "version": "1.0.0",
  "category": "leads",
  "metadata": {
    "lastUpdated": "2025-08-09T04:50:00Z",
    "apiVersion": "n8n/1.0",
    "author": "OptimaCX Team",
    "support": {
      "email": "support@optimacx.com",
      "docs": "https://docs.optimacx.com/workflows/leads"
    }
  }
}
