applications/workflows/business/leads/seguimiento-cotizaciones.json
{
  "meta": {
    "instanceId": "quote-follow-up-001"
  },
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH cotizaciones_seguimiento AS (\n  SELECT \n    c.id as cotizacion_id,\n    c.lead_id,\n    c.numero_cotizacion,\n    c.monto_total,\n    c.vehiculo_modelo,\n    c.fecha_creacion,\n    c.fecha_vencimiento,\n    c.estado,\n    c.prioridad,\n    \n    -- Datos del lead\n    l.telefono,\n    l.nombre as cliente_nombre,\n    l.asesor_id,\n    a.nombre as asesor_nombre,\n    a.telefono as asesor_telefono,\n    \n    -- Datos del concesionario\n    con.id as concesionario_id,\n    con.nombre as concesionario_nombre,\n    \n    -- Tiempo transcurrido\n    EXTRACT(EPOCH FROM (NOW() - c.fecha_creacion))/3600 as horas_desde_creacion,\n    EXTRACT(EPOCH FROM (c.fecha_vencimiento - NOW()))/24/3600 as dias_para_vencimiento,\n    \n    -- Último seguimiento\n    (\n      SELECT MAX(fecha_seguimiento) \n      FROM seguimientos_cotizacion sc \n      WHERE sc.cotizacion_id = c.id\n    ) as ultimo_seguimiento\n    \n  FROM cotizaciones c\n  LEFT JOIN leads l ON c.lead_id = l.id\n  LEFT JOIN asesores a ON l.asesor_id = a.id\n  LEFT JOIN concesionarios con ON l.concesionario_id = con.id\n  \n  WHERE c.estado IN ('pendiente', 'en_revision', 'enviada')\n    AND c.fecha_creacion >= NOW() - INTERVAL '30 days'\n    AND (\n      -- Cotizaciones sin seguimiento en 24h\n      (\n        c.fecha_creacion < NOW() - INTERVAL '24 hours' \n        AND (\n          ultimo_seguimiento IS NULL \n          OR ultimo_seguimiento < NOW() - INTERVAL '48 hours'\n        )\n      )\n      OR\n      -- Cotizaciones próximas a vencer (2 días)\n      (\n        c.fecha_vencimiento <= NOW() + INTERVAL '2 days'\n        AND c.fecha_vencimiento > NOW()\n        AND (\n          ultimo_seguimiento IS NULL \n          OR ultimo_seguimiento < NOW() - INTERVAL '24 hours'\n        )\n      )\n      OR\n      -- Cotizaciones de alta prioridad sin seguimiento en 12h\n      (\n        c.prioridad = 'alta'\n        AND (\n          ultimo_seguimiento IS NULL \n          OR ultimo_seguimiento < NOW() - INTERVAL '12 hours'\n        )\n      )\n    )\n)\nSELECT *\nFROM cotizaciones_seguimiento\nORDER BY \n  CASE prioridad \n    WHEN 'alta' THEN 1\n    WHEN 'media' THEN 2\n    ELSE 3\n  END,\n  dias_para_vencimiento ASC,\n  horas_desde_creacion DESC\nLIMIT 25;",
        "options": {}
      },
      "id": "get-quotes-to-follow",
      "name": "Obtener Cotizaciones para Seguimiento",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [460, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-main",
          "name": "Supabase Main DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Procesar cotizaciones y determinar tipo de seguimiento\nconst items = $input.all();\nconst seguimientos = [];\n\nfor (const item of items) {\n  const data = item.json;\n  \n  // Determinar tipo de seguimiento basado en el contexto\n  let tipoSeguimiento = 'recordatorio';\n  let urgencia = 'media';\n  let mensajeTemplate = '';\n  \n  if (data.dias_para_vencimiento <= 1) {\n    tipoSeguimiento = 'vencimiento_urgente';\n    urgencia = 'alta';\n    mensajeTemplate = 'vencimiento_cotizacion';\n  } else if (data.dias_para_vencimiento <= 2) {\n    tipoSeguimiento = 'proximo_vencimiento';\n    urgencia = 'alta';\n    mensajeTemplate = 'proximo_vencimiento';\n  } else if (data.horas_desde_creacion >= 72 && !data.ultimo_seguimiento) {\n    tipoSeguimiento = 'sin_respuesta';\n    urgencia = 'media';\n    mensajeTemplate = 'sin_respuesta_72h';\n  } else if (data.prioridad === 'alta') {\n    tipoSeguimiento = 'seguimiento_prioritario';\n    urgencia = 'alta';\n    mensajeTemplate = 'seguimiento_prioritario';\n  } else {\n    tipoSeguimiento = 'seguimiento_regular';\n    urgencia = 'media';\n    mensajeTemplate = 'seguimiento_regular';\n  }\n  \n  // Preparar datos del seguimiento\n  const seguimiento = {\n    cotizacion_id: data.cotizacion_id,\n    lead_id: data.lead_id,\n    numero_cotizacion: data.numero_cotizacion,\n    cliente_nombre: data.cliente_nombre,\n    cliente_telefono: data.telefono,\n    asesor_nombre: data.asesor_nombre,\n    asesor_telefono: data.asesor_telefono,\n    concesionario_nombre: data.concesionario_nombre,\n    \n    // Datos de la cotización\n    monto_total: data.monto_total,\n    vehiculo_modelo: data.vehiculo_modelo,\n    fecha_vencimiento: data.fecha_vencimiento,\n    dias_restantes: Math.ceil(data.dias_para_vencimiento),\n    \n    // Configuración del seguimiento\n    tipo_seguimiento: tipoSeguimiento,\n    urgencia: urgencia,\n    mensaje_template: mensajeTemplate,\n    canal_preferido: data.prioridad === 'alta' ? 'llamada' : 'whatsapp',\n    \n    // Metadata\n    timestamp: new Date().toISOString(),\n    requiere_notificacion_asesor: data.dias_para_vencimiento <= 2,\n    requiere_escalamiento: data.dias_para_vencimiento <= 0.5\n  };\n  \n  seguimientos.push({ json: seguimiento });\n}\n\nreturn seguimientos;"
      },
      "id": "process-follow-ups",
      "name": "Procesar Seguimientos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "canal-whatsapp",
              "leftValue": "={{ $json.canal_preferido }}",
              "rightValue": "whatsapp",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "route-by-channel",
      "name": "Enrutar por Canal",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "// Generar mensaje personalizado para WhatsApp\nconst data = $input.first().json;\n\n// Templates de mensajes según el tipo\nconst templates = {\n  vencimiento_cotizacion: `¡Hola ${data.cliente_nombre}! 🚗 Tu cotización #${data.numero_cotizacion} vence HOY. ¿Necesitas más tiempo o tienes alguna pregunta? Contáctame: ${data.asesor_nombre} - ${data.asesor_telefono}`,\n  \n  proximo_vencimiento: `Hola ${data.cliente_nombre} 👋 Tu cotización #${data.numero_cotizacion} para ${data.vehiculo_modelo} vence en ${data.dias_restantes} día(s). ¿Te interesa proceder o necesitas algún ajuste? Saludos, ${data.asesor_nombre}`,\n  \n  sin_respuesta_72h: `Hola ${data.cliente_nombre}, esperamos que estés bien. Hace unos días te enviamos la cotización #${data.numero_cotizacion} para ${data.vehiculo_modelo}. ¿Tuviste oportunidad de revisarla? ¿Alguna duda? ${data.asesor_nombre}`,\n  \n  seguimiento_prioritario: `${data.cliente_nombre}, soy ${data.asesor_nombre} de ${data.concesionario_nombre}. Quería hacer seguimiento a tu cotización prioritaria #${data.numero_cotizacion}. ¿Cuándo podríamos conversar?`,\n  \n  seguimiento_regular: `Hola ${data.cliente_nombre}! ¿Cómo estás? Quería saber si revisaste la cotización #${data.numero_cotizacion} que te envié. ¿Tienes alguna pregunta? ${data.asesor_nombre}`\n};\n\nconst mensaje = templates[data.mensaje_template] || templates.seguimiento_regular;\n\nconst whatsappData = {\n  to: data.cliente_telefono,\n  text: mensaje,\n  cotizacion_id: data.cotizacion_id,\n  tipo_seguimiento: data.tipo_seguimiento,\n  timestamp: data.timestamp\n};\n\nreturn [{ json: whatsappData }];"
      },
      "id": "prepare-whatsapp",
      "name": "Preparar WhatsApp",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v18.0/{{ $vars.WHATSAPP_PHONE_ID }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $vars.WHATSAPP_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{ $json.to }}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": "={{ { body: $json.text } }}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-whatsapp",
      "name": "Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "jsCode": "// Preparar datos para llamada del asesor\nconst data = $input.first().json;\n\nconst callData = {\n  asesor_telefono: data.asesor_telefono,\n  cliente_nombre: data.cliente_nombre,\n  cliente_telefono: data.cliente_telefono,\n  cotizacion_id: data.cotizacion_id,\n  numero_cotizacion: data.numero_cotizacion,\n  urgencia: data.urgencia,\n  motivo_llamada: `Seguimiento cotización #${data.numero_cotizacion} - ${data.tipo_seguimiento}`,\n  notas: `Cliente: ${data.cliente_nombre}, Vehículo: ${data.vehiculo_modelo}, Monto: $${data.monto_total}, Vence en: ${data.dias_restantes} días`,\n  timestamp: data.timestamp\n};\n\nreturn [{ json: callData }];"
      },
      "id": "prepare-call",
      "name": "Preparar Llamada",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.asesor_telefono }}",
        "subject": "📞 Llamada Urgente - Seguimiento Cotización #{{ $json.numero_cotizacion }}",
        "message": "={{ $json.motivo_llamada }}\\n\\nDetalles:\\n{{ $json.notas }}\\n\\nCliente: {{ $json.cliente_nombre }}\\nTeléfono: {{ $json.cliente_telefono }}\\n\\nLlamar ASAP.",
        "options": {}
      },
      "id": "notify-advisor-call",
      "name": "Notificar Asesor Llamada",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1340, 400],
      "credentials": {
        "smtp": {
          "id": "smtp-optimacx",
          "name": "SMTP OptimaCX"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "seguimientos_cotizacion",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "cotizacion_id": "={{ $('Procesar Seguimientos').first().json.cotizacion_id }}",
            "lead_id": "={{ $('Procesar Seguimientos').first().json.lead_id }}",
            "tipo_seguimiento": "={{ $('Procesar Seguimientos').first().json.tipo_seguimiento }}",
            "canal": "={{ $('Procesar Seguimientos').first().json.canal_preferido }}",
            "mensaje_enviado": "={{ $('Preparar WhatsApp').first().json.text || $('Preparar Llamada').first().json.motivo_llamada }}",
            "fecha_seguimiento": "={{ $('Procesar Seguimientos').first().json.timestamp }}",
            "urgencia": "={{ $('Procesar Seguimientos').first().json.urgencia }}",
            "estado": "ejecutado",
            "metadata": "={{ JSON.stringify({\n              dias_restantes: $('Procesar Seguimientos').first().json.dias_restantes,\n              monto_cotizacion: $('Procesar Seguimientos').first().json.monto_total,\n              vehiculo: $('Procesar Seguimientos').first().json.vehiculo_modelo\n            }) }}"
          }
        },
        "options": {}
      },
      "id": "log-follow-up",
      "name": "Registrar Seguimiento",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1560, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-main",
          "name": "Supabase Main DB"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "requiere-escalamiento",
              "leftValue": "={{ $('Procesar Seguimientos').first().json.requiere_escalamiento }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-escalation",
      "name": "¿Requiere Escalamiento?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "sendTo": "gerencia@optimacx.com,ventas@optimacx.com",
        "subject": "🚨 Escalamiento - Cotización Vencida #{{ $('Procesar Seguimientos').first().json.numero_cotizacion }}",
        "message": "=**COTIZACIÓN VENCIDA REQUIERE ATENCIÓN INMEDIATA**\\n\\n📋 **Detalles:**\\n• Cliente: {{ $('Procesar Seguimientos').first().json.cliente_nombre }}\\n• Teléfono: {{ $('Procesar Seguimientos').first().json.cliente_telefono }}\\n• Cotización: #{{ $('Procesar Seguimientos').first().json.numero_cotizacion }}\\n• Vehículo: {{ $('Procesar Seguimientos').first().json.vehiculo_modelo }}\\n• Monto: ${{ $('Procesar Seguimientos').first().json.monto_total }}\\n• Asesor: {{ $('Procesar Seguimientos').first().json.asesor_nombre }}\\n\\n⚠️ **Acción requerida:** Contacto inmediato con el cliente\\n\\nCRM: https://crm.optimacx.com/cotizaciones/{{ $('Procesar Seguimientos').first().json.cotizacion_id }}\\n\\nSistema OptimaCX",
        "options": {}
      },
      "id": "escalate-to-management",
      "name": "Escalar a Gerencia",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [2000, 200],
      "credentials": {
        "smtp": {
          "id": "smtp-optimacx",
          "name": "SMTP OptimaCX"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Obtener Cotizaciones para Seguimiento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Cotizaciones para Seguimiento": {
      "main": [
        [
          {
            "node": "Procesar Seguimientos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Seguimientos": {
      "main": [
        [
          {
            "node": "Enrutar por Canal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrutar por Canal": {
      "main": [
        [
          {
            "node": "Preparar WhatsApp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Llamada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar WhatsApp": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          },
          {
            "node": "Registrar Seguimiento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Llamada": {
      "main": [
        [
          {
            "node": "Notificar Asesor Llamada",
            "type": "main",
            "index": 0
          },
          {
            "node": "Registrar Seguimiento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Seguimiento": {
      "main": [
        [
          {
            "node": "¿Requiere Escalamiento?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Requiere Escalamiento?": {
      "main": [
        [
          {
            "node": "Escalar a Gerencia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["leads", "cotizaciones", "seguimiento"],
  "triggerCount": 0,
  "updatedAt": "2024-08-09T05:47:00.000Z",
  "versionId": "quote-follow-up-v2.1",
  "name": "Seguimiento de Cotizaciones",
  "active": true,
  "id": "quote-follow-up-system",
  "hash": "quote-follow-up-processor"
}
