applications/workflows/business/encuestas/postventa/enviador-whatsapp.json
{
  "name": "Survey WhatsApp Sender",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook/survey/whatsapp-sender",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "WhatsApp Sender Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 300],
      "webhookId": "survey-whatsapp-sender"
    },
    {
      "parameters": {
        "jsCode": "// Preparar lote y mensajes\nconst body = $json || {};\nconst clients = Array.isArray(body.clients_to_survey) ? body.clients_to_survey : [];\nconst survey_url = body.survey_url || '';\nconst tenant_config = body.tenant_config || {};\nif (!survey_url || clients.length === 0) { throw new Error('Faltan clients_to_survey o survey_url'); }\nconst messages = clients.map(c => ({ to: c.telefono, message: `Hola ${c.nombre_completo}, tu opinión es importante. Encuesta: ${survey_url}?cliente=${c.rut}`, client_data: c }));\nreturn [{ json: { messages, tenant_id: body.tenant_id, survey_link: survey_url, tenant_config } }];"
      },
      "id": "prepare-messages",
      "name": "Prepare Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "messages",
        "options": {}
      },
      "id": "split-messages",
      "name": "Split Messages",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://graph.facebook.com/v20.0/{{ $vars.WHATSAPP_PHONE_ID }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{ $vars.WHATSAPP_ACCESS_TOKEN }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={ \n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.to }}\",\n  \"type\": \"text\",\n  \"text\": { \"preview_url\": true, \"body\": \"{{ $json.message }}\" }\n}"
      },
      "id": "send-whatsapp",
      "name": "Send WhatsApp",
      "type": "n8n-nodes-base.httpRequestV3",
      "typeVersion": 4.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{ $vars.SUPABASE_URL }}/rest/v1/encuestas",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $vars.SUPABASE_ANON_KEY }}" },
            { "name": "Authorization", "value": "Bearer {{ $vars.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={{ JSON.stringify({\n  concesionario_id: $json.tenant_id,\n  cliente_nombre: $json.client_data?.nombre,\n  cliente_telefono: $json.client_data?.telefono,\n  cliente_email: $json.client_data?.email,\n  cliente_rut: $json.client_data?.rut,\n  sucursal: $json.client_data?.sucursal,\n  fecha_atencion: $json.client_data?.fecha_atencion,\n  tipo_servicio: $json.client_data?.tipo_servicio,\n  asesor_servicio: $json.client_data?.asesor_servicio,\n  vehiculo_patente: $json.client_data?.vehiculo_patente,\n  origen: 'WhatsApp',\n  estado: 'enviado',\n  survey_link: $json.survey_link,\n  fecha_envio: new Date().toISOString(),\n  whatsapp_message_id: $('Send WhatsApp').first().json.messages?.[0]?.id || null\n}) }}"
      },
      "id": "register-survey",
      "name": "Register Survey",
      "type": "n8n-nodes-base.httpRequestV3",
      "typeVersion": 4.2,
      "position": [1120, 300]
    },
    {
      "parameters": { "amount": 2, "unit": "seconds" },
      "id": "rate-limit-delay",
      "name": "Rate Limit Delay",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 2.1,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"message\": \"Mensajes enviados y registros creados\",\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}"
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 2.1,
      "position": [1560, 300]
    }
  ],
  "connections": {
    "WhatsApp Sender Trigger": { "main": [[{ "node": "Prepare Messages", "type": "main", "index": 0 }]] },
    "Prepare Messages": { "main": [[{ "node": "Split Messages", "type": "main", "index": 0 }]] },
    "Split Messages": { "main": [[{ "node": "Send WhatsApp", "type": "main", "index": 0 }]] },
    "Send WhatsApp": { "main": [[{ "node": "Register Survey", "type": "main", "index": 0 }]] },
    "Register Survey": { "main": [[{ "node": "Rate Limit Delay", "type": "main", "index": 0 }]] },
    "Rate Limit Delay": { "main": [[{ "node": "Success Response", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": ["srp", "survey", "whatsapp"],
  "id": "survey-whatsapp-sender",
  "versionId": "1.0.1"
}