applications/workflows/business/encuestas/postventa/exportador-excel.json
{
  "name": "Survey - Excel Exporter (Post-venta)",
  "description": "Genera y permite descargar reportes Excel de encuestas de POST-VENTA para jefe de servicio por concesionario/sucursal.",
  "tags": [
    "survey",
    "excel",
    "export",
    "postventa",
    "service",
    "report"
  ],
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook/survey/excel-export",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-excel-export-postventa",
      "name": "Webhook Excel Export Post-venta",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {},
      "id": "validate-export-params-postventa",
      "name": "Validar Parámetros Export Post-venta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2.1,
      "position": [
        400,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT e.id, e.fecha_creacion, e.cliente_nombre, e.cliente_rut, e.cliente_telefono, e.recomendacion, e.satisfaccion, e.lavado, e.asesor, e.average_score, e.comentario, e.origen, e.estado, s.nombre as sucursal_nombre FROM encuestas e LEFT JOIN sucursales s ON e.sucursal_id = s.id WHERE e.concesionario_id = $1 AND ($2::uuid IS NULL OR e.sucursal_id = $2) AND e.fecha_creacion BETWEEN $3 AND $4 ORDER BY e.fecha_creacion DESC",
        "additionalFields": {
          "queryParameters": "={{ [$json.concesionario_id, $json.sucursal_id, $json.fecha_inicio, $json.fecha_fin] }}"
        }
      },
      "id": "query-postventa-surveys",
      "name": "Consultar Encuestas Post-venta",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.1,
      "position": [
        600,
        300
      ]
    },
    {
      "parameters": {},
      "id": "process-postventa-excel-data",
      "name": "Procesar Datos Excel Post-venta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2.1,
      "position": [
        800,
        300
      ]
    },
    {
      "parameters": {
        "operation": "fromArray",
        "options": {
          "sheetName": "Encuestas Post-venta"
        },
        "binaryPropertyName": "postventa_excel_file"
      },
      "id": "generate-postventa-excel",
      "name": "Generar Excel Post-venta",
      "type": "n8n-nodes-base.microsoftExcel",
      "typeVersion": 2.1,
      "position": [
        1000,
        300
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "respondWith": "binary",
        "binaryPropertyName": "postventa_excel_file",
        "options": {
          "responseHeaders": {
            "Content-Disposition": "=attachment; filename=\"{{ $('Procesar Datos Excel Post-venta').first().json.export_info.file_name }}\"",
            "Content-Type": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
          }
        }
      },
      "id": "download-postventa-excel",
      "name": "Descargar Excel Post-venta",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 2.1,
      "position": [
        1200,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"error\",\n  \"message\": \"Error al generar reporte Excel de POST-VENTA.\",\n  \"export_type\": \"POST_VENTA\",\n  \"error_details\": \"{{ $json.error?.message || 'Error desconocido' }}\",\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "error-response-postventa-excel",
      "name": "Respuesta Error Excel Post-venta",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 2.1,
      "position": [
        800,
        480
      ]
    }
  ],
  "connections": {
    "Webhook Excel Export Post-venta": {
      "main": [
        [
          {
            "node": "Validar Parámetros Export Post-venta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Parámetros Export Post-venta": {
      "main": [
        [
          {
            "node": "Consultar Encuestas Post-venta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respuesta Error Excel Post-venta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Encuestas Post-venta": {
      "main": [
        [
          {
            "node": "Procesar Datos Excel Post-venta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Datos Excel Post-venta": {
      "main": [
        [
          {
            "node": "Generar Excel Post-venta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Excel Post-venta": {
      "main": [
        [
          {
            "node": "Descargar Excel Post-venta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}
