applications/workflows/business/encuestas/postventa/filtro-duplicados.json
{
  "name": "Survey Duplicate Filter",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook/survey/duplicate-filter",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Duplicate Filter Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 300],
      "webhookId": "survey-duplicate-filter"
    },
    {
      "parameters": {
        "requestMethod": "GET",
        "url": "={{ $vars.SUPABASE_URL }}/rest/v1/encuestas",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $vars.SUPABASE_ANON_KEY }}" },
            { "name": "Authorization", "value": "Bearer {{ $vars.SUPABASE_SERVICE_KEY }}" }
          ]
        },
        "sendBody": false,
        "qs": {
          "parameters": [
            { "name": "concesionario_id", "value": "eq.{{ $json.tenant_id }}" },
            { "name": "estado", "value": "in.(completado,enviado)" },
            { "name": "created_at", "value": "gte.{{ new Date(Date.now() - 48*60*60*1000).toISOString() }}" },
            { "name": "select", "value": "cliente_telefono,vehiculo_patente,origen,estado" }
          ]
        }
      },
      "id": "get-recent-surveys",
      "name": "Get Recent Surveys",
      "type": "n8n-nodes-base.httpRequestV3",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "/*** SURVEY DUPLICATE FILTER - SRP ***/\nconst body = $json || {};\nconst clients = Array.isArray(body.clients_to_survey) ? body.clients_to_survey : [];\nconst recent = $('Get Recent Surveys').first().json || [];\nconst recentKeys = new Set(recent.map(r => `${r.cliente_telefono}|${r.vehiculo_patente}`));\nconst filtered = clients.filter(c => !recentKeys.has(`${c.telefono}|${c.vehiculo_patente}`));\nconst stats = { input: clients.length, filteredOut: clients.length - filtered.length, output: filtered.length };\nreturn [{ json: { ...body, clients_to_survey: filtered, filtering_stats: stats } }];"
      },
      "id": "filter-duplicates",
      "name": "Filter Duplicates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            { "leftValue": "={{ $json.clients_to_survey.length }}", "rightValue": 0, "operator": { "type": "number", "operation": "gt" } }
          ],
          "combineOperation": "all"
        }
      },
      "id": "check-clients-available",
      "name": "Check Clients Available",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "operation": "create",
        "resource": "execution",
        "workflowId": "survey-whatsapp-sender",
        "data": "={{ JSON.stringify($json) }}"
      },
      "id": "trigger-whatsapp-sender",
      "name": "Trigger WhatsApp Sender",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 2.1,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"no_clients\",\n  \"message\": \"No hay clientes para encuestar.\",\n  \"filtering_stats\": {{ JSON.stringify($json.filtering_stats) }},\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}"
      },
      "id": "no-clients-response",
      "name": "No Clients Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 2.1,
      "position": [1120, 420]
    }
  ],
  "connections": {
    "Duplicate Filter Trigger": { "main": [[{ "node": "Get Recent Surveys", "type": "main", "index": 0 }]] },
    "Get Recent Surveys": { "main": [[{ "node": "Filter Duplicates", "type": "main", "index": 0 }]] },
    "Filter Duplicates": { "main": [[{ "node": "Check Clients Available", "type": "main", "index": 0 }]] },
    "Check Clients Available": { "main": [[{ "node": "Trigger WhatsApp Sender", "type": "main", "index": 0 }], [{ "node": "No Clients Response", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": ["srp", "survey", "filter"],
  "id": "survey-duplicate-filter",
  "versionId": "1.0.1"
}