applications/workflows/business/encuestas/postventa/monitor-respuestas.json
{
  "name": "Survey Response Monitor",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook/survey/response-monitor",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Response Monitor Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 300],
      "webhookId": "survey-response-monitor"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $vars.SUPABASE_URL }}/rest/v1/encuestas",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "headers": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $vars.SUPABASE_SERVICE_KEY }}"
            }
          ]
        },
        "qs": {
          "parameters": [
            {
              "name": "concesionario_id",
              "value": "eq.{{ $json.tenant_id }}"
            },
            {
              "name": "origen",
              "value": "eq.WhatsApp"
            },
            {
              "name": "estado",
              "value": "in.(enviado,completado)"
            },
            {
              "name": "fecha_envio",
              "value": "gte.{{ new Date(Date.now() - 8*60*60*1000).toISOString() }}"
            },
            {
              "name": "select",
              "value": "cliente_telefono,cliente_nombre,sucursal,estado,fecha_envio,fecha_completado"
            }
          ]
        }
      },
      "id": "get-whatsapp-surveys",
      "name": "Get WhatsApp Surveys",
      "type": "n8n-nodes-base.httpRequestV3",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "/*** SURVEY RESPONSE MONITOR - SRP: Solo monitoreo de respuestas ***/\nconst input = $input.first()?.json || {};\nconst data = $('Get WhatsApp Surveys').first().json || [];\nconst pending = data.filter(r => r.estado !== 'completado');\nconst clients_for_call_center = pending.map(r => ({ telefono: r.cliente_telefono, nombre_completo: r.cliente_nombre, sucursal: r.sucursal }));\nconst monitoring_stats = { total: data.length, pending: pending.length, completed: data.length - pending.length };\nreturn [{ json: { ...input, clients_for_call_center, monitoring_stats } }];"
      },
      "id": "analyze-responses",
      "name": "Analyze Responses",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "", 
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.clients_for_call_center.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combineOperation": "all"
        }
      },
      "id": "check-pending-clients",
      "name": "Check Pending Clients",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "operation": "create",
        "resource": "execution",
        "workflowId": "survey-call-center-assignment",
        "data": "={{ JSON.stringify($json) }}"
      },
      "id": "trigger-call-center",
      "name": "Trigger Call Center Assignment",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 2.1,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "jsCode": "// Generar reporte final simple\nreturn [{ json: { report: 'ok', timestamp: new Date().toISOString() } }];"
      },
      "id": "generate-final-report",
      "name": "Generate Final Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2.1,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"message\": \"Monitoreo de respuestas completado. Clientes sin respuesta asignados a contact center.\",\n  \"monitoring_data\": {\n    \"clients_assigned_call_center\": {{ $('Analyze Responses').first().json.clients_for_call_center.length }},\n    \"response_metrics\": {{ JSON.stringify($('Analyze Responses').first().json.monitoring_stats) }}\n  },\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}"
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 2.1,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"completed\",\n  \"message\": \"Todos los clientes han respondido la encuesta. No se requiere seguimiento adicional.\",\n  \"final_report\": {{ JSON.stringify($json) }},\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}"
      },
      "id": "campaign-completed",
      "name": "Campaign Completed",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 2.1,
      "position": [900, 500]
    }
  ],
  "connections": {
    "Response Monitor Trigger": {
      "main": [
        [
          {
            "node": "Get WhatsApp Surveys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get WhatsApp Surveys": {
      "main": [
        [
          {
            "node": "Analyze Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Responses": {
      "main": [
        [
          {
            "node": "Check Pending Clients", 
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Pending Clients": {
      "main": [
        [
          {
            "node": "Trigger Call Center Assignment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Final Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Call Center Assignment": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Final Report": {
      "main": [
        [
          {
            "node": "Campaign Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "srp",
      "name": "srp"
    },
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z", 
      "id": "survey",
      "name": "survey"
    },
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "monitor",
      "name": "monitor"
    }
  ],
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "survey-response-monitor",
  "versionId": "1.0.0"
}