applications/workflows/business/encuestas/postventa/procesador-qr.json
{
  "name": "Survey - QR Processor",
  "description": "Procesa encuestas recibidas vía código QR, valida datos, registra en DB y notifica bajas calificaciones.",
  "tags": ["survey", "qr", "srp", "notification"],
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook/survey/qr",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-qr-survey",
      "name": "Webhook QR Survey",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "jsCode": "// Validar y normalizar datos de encuesta QR\nconst input = $input.first()?.json || {};\nconst concesionario_id = input.concesionario_id || input.tenant_id || null;\nconst recomendacion = Number(input.recomendacion || 0);\nconst satisfaccion = Number(input.satisfaccion || 0);\nconst lavado = Number(input.lavado || 0);\nconst average_score = Number(input.average_score ?? ((recomendacion + satisfaccion + lavado) / 3));\nreturn [{ json: { ...input, concesionario_id, recomendacion, satisfaccion, lavado, average_score } }];"
      },
      "id": "validate-and-process-qr-data",
      "name": "Validar y Procesar Datos QR",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2.1,
      "position": [400, 300]
    },
    {
      "parameters": {
        "operation": "create",
        "resource": "execution",
        "workflowId": "survey-response-handler",
        "data": "={{ JSON.stringify($json) }}"
      },
      "id": "trigger-response-handler",
      "name": "Disparar Manejador de Respuestas",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 2.1,
      "position": [600, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.average_score }}",
              "operation": "lessThanOrEqual",
              "value2": 8
            }
          ]
        }
      },
      "id": "check-low-score",
      "name": "¿Calificación Baja (1-8)?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [800, 300]
    },
    {
      "parameters": {
        "operation": "create",
        "resource": "execution",
        "workflowId": "survey-low-score-notifier", 
        "data": "={{ JSON.stringify($json) }}"
      },
      "id": "trigger-low-score-notification",
      "name": "Disparar Notificación Baja Calificación",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 2.1,
      "position": [1000, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
  "responseBody": "={\n  \"status\": \"success\",\n  \"message\": \"Encuesta QR procesada exitosamente.\",\n  \"average_score\": {{ $('Validar y Procesar Datos QR').first().json.average_score }}\n}"
      },
      "id": "success-response",
      "name": "Respuesta Exitosa",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 2.1,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"error\",\n  \"message\": \"Error al procesar la encuesta QR.\",\n  \"error_details\": \"{{ $json.error?.message || 'Error desconocido' }}\",\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "error-response",
      "name": "Respuesta de Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 2.1,
      "position": [600, 480]
    }
  ],
  "connections": {
    "Webhook QR Survey": {
      "main": [
        [
          {
            "node": "Validar y Procesar Datos QR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar y Procesar Datos QR": {
      "main": [
        [
          {
            "node": "Disparar Manejador de Respuestas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respuesta de Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Disparar Manejador de Respuestas": {
      "main": [
        [
          {
            "node": "Respuesta Exitosa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}