applications/workflows/business/encuestas/postventa/procesador-excel.json
{
  "name": "Survey Excel Processor",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook/survey/excel-upload",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-excel-upload",
      "name": "Excel Upload Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 300],
      "webhookId": "survey-excel-upload"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.tenant_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            },
            {
              "leftValue": "={{ $json.excel_data }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combineOperation": "all"
        }
      },
      "id": "validate-upload",
      "name": "Validate Upload",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "/*** SURVEY EXCEL PROCESSOR - SRP: Solo procesamiento de datos Excel ***/\nconst body = $input.first()?.json || {};\nconst tenantId = body.tenant_id || body.concesionario_id || null;\nconst excelData = Array.isArray(body.excel_data) ? body.excel_data : [];\nconst clients_to_survey = excelData.map(r => ({ nombre_completo: r.nombre || r.cliente_nombre || '', telefono: r.telefono || r.cliente_telefono || '', email: r.email || r.cliente_email || '', sucursal: r.sucursal || null, vehiculo_patente: r.vehiculo_patente || r.patente || '' }));\nreturn [{ json: { tenant_id: tenantId, clients_to_survey, upload_metadata: { uploaded_by: body.uploaded_by || 'sistema', rows: excelData.length }, total_clients: clients_to_survey.length } }];"
      },
      "id": "process-excel-data",
      "name": "Process Excel Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "operation": "create",
        "resource": "execution",
        "workflowId": "survey-duplicate-filter",
        "data": "={{ JSON.stringify($json) }}"
      },
      "id": "trigger-duplicate-filter",
      "name": "Trigger Duplicate Filter",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 2.1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"message\": \"Excel procesado correctamente. Iniciando filtrado de duplicados.\",\n  \"data\": {\n    \"total_clients\": {{ $('Process Excel Data').first().json.total_clients }},\n    \"uploaded_by\": \"{{ $('Process Excel Data').first().json.upload_metadata.uploaded_by }}\",\n    \"next_step\": \"duplicate_filtering\"\n  },\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}"
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 2.1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"error\",\n  \"message\": \"Datos de upload inválidos. Verifique el formato del Excel y tenant_id.\",\n  \"error_details\": {\n    \"tenant_id_present\": {{ !!$json.tenant_id }},\n    \"excel_data_present\": {{ !!$json.excel_data }}\n  },\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 2.1,
      "position": [460, 500]
    }
  ],
  "connections": {
    "Excel Upload Webhook": {
      "main": [
        [
          {
            "node": "Validate Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Upload": {
      "main": [
        [
          {
            "node": "Process Excel Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Excel Data": {
      "main": [
        [
          {
            "node": "Trigger Duplicate Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Duplicate Filter": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "srp",
      "name": "srp"
    },
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "survey",
      "name": "survey"
    },
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "excel",
      "name": "excel"
    }
  ],
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "survey-excel-processor",
  "versionId": "1.0.0"
}