applications/n8n-workflows/encuestas/postventa/survey-excel-exporter.json
{
  "name": "Survey - Excel Exporter (Post-venta)",
  "description": "Genera y permite descargar reportes Excel de encuestas de POST-VENTA para jefe de servicio por concesionario/sucursal.",
  "tags": ["survey", "excel", "export", "postventa", "service", "report"],
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook/survey/excel-export",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-excel-export-postventa",
      "name": "Webhook Excel Export Post-venta",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "jsCode": "// Validar parámetros de exportación de POST-VENTA\nconst exportRequest = $input.first().json;\n\n// Campos requeridos para exportación\nconst requiredFields = ['concesionario_id', 'jefe_servicio_id'];\nfor (const field of requiredFields) {\n  if (!exportRequest[field]) {\n    throw new Error(`Campo requerido faltante para exportación POST-VENTA: ${field}`);\n  }\n}\n\n// Validar fechas si se proporcionan\nlet fechaInicio = null;\nlet fechaFin = null;\n\nif (exportRequest.fecha_inicio) {\n  fechaInicio = new Date(exportRequest.fecha_inicio);\n  if (isNaN(fechaInicio.getTime())) {\n    throw new Error('fecha_inicio debe ser una fecha válida');\n  }\n}\n\nif (exportRequest.fecha_fin) {\n  fechaFin = new Date(exportRequest.fecha_fin);\n  if (isNaN(fechaFin.getTime())) {\n    throw new Error('fecha_fin debe ser una fecha válida');\n  }\n}\n\n// Si no se especifican fechas, usar últimos 30 días\nif (!fechaInicio && !fechaFin) {\n  fechaFin = new Date();\n  fechaInicio = new Date();\n  fechaInicio.setDate(fechaInicio.getDate() - 30);\n}\n\n// Preparar parámetros de consulta\nconst queryParams = {\n  concesionario_id: exportRequest.concesionario_id,\n  sucursal_id: exportRequest.sucursal_id || null,\n  fecha_inicio: fechaInicio.toISOString().split('T')[0],\n  fecha_fin: fechaFin.toISOString().split('T')[0],\n  jefe_servicio_id: exportRequest.jefe_servicio_id,\n  export_type: 'POST_VENTA',\n  request_timestamp: new Date().toISOString()\n};\n\nconsole.log('Parámetros de exportación POST-VENTA validados:', {\n  concesionario: queryParams.concesionario_id,\n  sucursal: queryParams.sucursal_id,\n  fechaInicio: queryParams.fecha_inicio,\n  fechaFin: queryParams.fecha_fin,\n  jefeServicio: queryParams.jefe_servicio_id\n});\n\nreturn [{ json: queryParams }];"
      },
      "id": "validate-export-params-postventa",
      "name": "Validar Parámetros Export Post-venta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT e.id, e.fecha_creacion, e.cliente_nombre, e.cliente_rut, e.cliente_telefono, e.recomendacion, e.satisfaccion, e.lavado, e.asesor, e.average_score, e.comentario, e.origen, e.estado, s.nombre as sucursal_nombre FROM encuestas e LEFT JOIN sucursales s ON e.sucursal_id = s.id WHERE e.concesionario_id = $1 AND ($2::uuid IS NULL OR e.sucursal_id = $2) AND e.fecha_creacion BETWEEN $3 AND $4 ORDER BY e.fecha_creacion DESC",
        "additionalFields": {
          "queryParameters": "={{ [$json.concesionario_id, $json.sucursal_id, $json.fecha_inicio, $json.fecha_fin] }}"
        }
      },
      "id": "query-postventa-surveys",
      "name": "Consultar Encuestas Post-venta",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [600, 300]
    },
    {
      "parameters": {
        "jsCode": "// Procesar datos para Excel específico de POST-VENTA\nconst postventaSurveys = $input.first().json;\nconst exportParams = $('Validar Parámetros Export Post-venta').first().json;\n\nif (!postventaSurveys || postventaSurveys.length === 0) {\n  throw new Error('No se encontraron encuestas de POST-VENTA para el período seleccionado');\n}\n\n// Preparar datos para Excel con columnas específicas de POST-VENTA\nconst excelData = postventaSurveys.map((survey, index) => {\n  return {\n    'ID': survey.id,\n    'Fecha Encuesta': new Date(survey.fecha_creacion).toLocaleDateString('es-CL'),\n    'Cliente': survey.cliente_nombre,\n    'RUT': survey.cliente_rut || 'N/A',\n    'Teléfono': survey.cliente_telefono,\n    'Sucursal': survey.sucursal_nombre || 'N/A',\n    'Recomendación (1-10)': survey.recomendacion,\n    'Satisfacción (1-10)': survey.satisfaccion,\n    'Lavado (1-10)': survey.lavado,\n    'Asesor (1-10)': survey.asesor,\n    'Promedio': survey.average_score,\n    'Comentarios': survey.comentario || 'Sin comentarios',\n    'Origen': survey.origen,\n    'Estado Encuesta': survey.estado,\n    'Clasificación': survey.average_score >= 9 ? 'Excelente' : \n                    survey.average_score >= 7 ? 'Bueno' : \n                    survey.average_score >= 5 ? 'Regular' : 'Bajo'\n  };\n});\n\n// Calcular estadísticas resumen específicas de POST-VENTA\nconst stats = {\n  total_encuestas: postventaSurveys.length,\n  promedio_general: (postventaSurveys.reduce((sum, s) => sum + s.average_score, 0) / postventaSurveys.length).toFixed(2),\n  promedio_recomendacion: (postventaSurveys.reduce((sum, s) => sum + s.recomendacion, 0) / postventaSurveys.length).toFixed(2),\n  promedio_satisfaccion: (postventaSurveys.reduce((sum, s) => sum + s.satisfaccion, 0) / postventaSurveys.length).toFixed(2),\n  promedio_lavado: (postventaSurveys.reduce((sum, s) => sum + s.lavado, 0) / postventaSurveys.length).toFixed(2),\n  promedio_asesor: (postventaSurveys.reduce((sum, s) => sum + s.asesor, 0) / postventaSurveys.length).toFixed(2),\n  encuestas_excelentes: postventaSurveys.filter(s => s.average_score >= 9).length,\n  encuestas_buenas: postventaSurveys.filter(s => s.average_score >= 7 && s.average_score < 9).length,\n  encuestas_regulares: postventaSurveys.filter(s => s.average_score >= 5 && s.average_score < 7).length,\n  encuestas_bajas: postventaSurveys.filter(s => s.average_score < 5).length,\n  por_origen: {\n    qr: postventaSurveys.filter(s => s.origen === 'QR').length,\n    whatsapp: postventaSurveys.filter(s => s.origen === 'WhatsApp').length,\n    llamada: postventaSurveys.filter(s => s.origen === 'Llamada').length\n  },\n  por_estado: {\n    completado: postventaSurveys.filter(s => s.estado === 'completado').length,\n    pendiente: postventaSurveys.filter(s => s.estado === 'pendiente').length\n  }\n};\n\n// Generar nombre de archivo específico para POST-VENTA\nconst fileName = `Encuestas_PostVenta_${exportParams.concesionario_id.substring(0, 8)}_${exportParams.fecha_inicio}_${exportParams.fecha_fin}.xlsx`;\n\nconst result = {\n  excel_data: excelData,\n  statistics: stats,\n  export_info: {\n    type: 'POST_VENTA',\n    department: 'SERVICIO',\n    concesionario_id: exportParams.concesionario_id,\n    sucursal_id: exportParams.sucursal_id,\n    fecha_inicio: exportParams.fecha_inicio,\n    fecha_fin: exportParams.fecha_fin,\n    jefe_servicio_id: exportParams.jefe_servicio_id,\n    generated_at: new Date().toISOString(),\n    file_name: fileName,\n    total_records: excelData.length\n  }\n};\n\nconsole.log('Datos Excel POST-VENTA preparados:', {\n  tipo: 'POST_VENTA',\n  totalEncuestas: result.statistics.total_encuestas,\n  promedioGeneral: result.statistics.promedio_general,\n  fileName: result.export_info.file_name\n});\n\nreturn [{ json: result }];"
      },
      "id": "process-postventa-excel-data",
      "name": "Procesar Datos Excel Post-venta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 300]
    },
    {
      "parameters": {
        "operation": "fromArray",
        "options": {
          "sheetName": "Encuestas Post-venta"
        },
        "binaryPropertyName": "postventa_excel_file"
      },
      "id": "generate-postventa-excel",
      "name": "Generar Excel Post-venta",
      "type": "n8n-nodes-base.microsoftExcel",
      "typeVersion": 2,
      "position": [1000, 300],
      "executeOnce": false
    },
    {
      "parameters": {
        "respondWith": "binary",
        "binaryPropertyName": "postventa_excel_file",
        "options": {
          "responseHeaders": {
            "Content-Disposition": "=attachment; filename=\"{{ $('Procesar Datos Excel Post-venta').first().json.export_info.file_name }}\"",
            "Content-Type": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
          }
        }
      },
      "id": "download-postventa-excel",
      "name": "Descargar Excel Post-venta",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"error\",\n  \"message\": \"Error al generar reporte Excel de POST-VENTA.\",\n  \"export_type\": \"POST_VENTA\",\n  \"error_details\": \"{{ $json.error?.message || 'Error desconocido' }}\",\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "error-response-postventa-excel",
      "name": "Respuesta Error Excel Post-venta",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [800, 480]
    }
  ],
  "connections": {
    "Webhook Excel Export Post-venta": {
      "main": [
        [
          {
            "node": "Validar Parámetros Export Post-venta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Parámetros Export Post-venta": {
      "main": [
        [
          {
            "node": "Consultar Encuestas Post-venta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respuesta Error Excel Post-venta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Encuestas Post-venta": {
      "main": [
        [
          {
            "node": "Procesar Datos Excel Post-venta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Datos Excel Post-venta": {
      "main": [
        [
          {
            "node": "Generar Excel Post-venta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Excel Post-venta": {
      "main": [
        [
          {
            "node": "Descargar Excel Post-venta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}