applications/workflows/business/reclamos/fragmentacion-conocimiento.json
{
  "name": "Knowledge - Document Chunking",
  "description": "Workflow enfocado en chunkear documentos en fragmentos para embeddings. Principio SRP: Una sola responsabilidad - chunking.",
  "tags": ["rag", "knowledge", "chunking", "srp"],
  "nodes": [
    {
      "parameters": {
        "workflowId": "{{ $json.workflowId }}"
      },
      "id": "workflow-trigger",
      "name": "Trigger del Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
      },
      "id": "chunk-document-content",
      "name": "Chunkear Contenido",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "create",
        "resource": "execution",
        "workflowId": "knowledge-embedding",
        "data": "={{ JSON.stringify($json) }}"
      },
      "id": "trigger-embedding-workflow",
      "name": "Iniciar Embeddings",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 2,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Trigger del Workflow": {
      "main": [
        [
          {
            "node": "Chunkear Contenido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chunkear Contenido": {
      "main": [
        [
          {
            "node": "Iniciar Embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}