applications/workflows/templates/chatwoot-multitenant-webhook-v2.json
{
  "name": "Chatwoot Multitenant Webhook Handler - Updated",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook/chatwoot/{{$parameter[\"tenant_id\"]}}",
        "options": {}
      },
      "id": "webhook-receiver",
      "name": "Webhook Chatwoot",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "chatwoot-multitenant"
    },
    {
      "parameters": {
      },
      "id": "tenant-identifier",
      "name": "Identificar Tenant",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.event_type }}",
              "rightValue": "message_created",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "leftValue": "={{ $json.message_type }}",
              "rightValue": "incoming",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combineOperation": "all"
        }
      },
      "id": "check-message-type",
      "name": "¿Es Mensaje Nuevo Entrante?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-optimacx-supabase-dev-wfzra4ruxq-tl.a.run.app/webhook/lead-processor",
        "authentication": "headerAuth",
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={{ {\n  \"tenant_id\": $json.tenant_id,\n  \"phone_number\": $json.phone_number,\n  \"message_content\": $json.message_content,\n  \"conversation_id\": $json.conversation_id,\n  \"contact_id\": $json.contact_id,\n  \"timestamp\": $json.timestamp,\n  \"source\": \"chatwoot_webhook\"\n} }}",
        "options": {}
      },
      "id": "forward-to-lead-processor",
      "name": "Enviar a Procesador Leads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "n8n-internal-auth",
          "name": "N8N Internal Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-optimacx-supabase-dev-wfzra4ruxq-tl.a.run.app/webhook/conversation-logger",
        "authentication": "headerAuth",
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={{ {\n  \"tenant_id\": $json.tenant_id,\n  \"conversation_id\": $json.conversation_id,\n  \"event_type\": $json.event_type,\n  \"raw_payload\": $json.raw_payload,\n  \"timestamp\": $json.timestamp\n} }}",
        "options": {}
      },
      "id": "log-conversation",
      "name": "Log Conversación",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "n8n-internal-auth",
          "name": "N8N Internal Auth"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"status\": \"success\",\n  \"tenant_id\": $json.tenant_id,\n  \"processed_at\": new Date().toISOString(),\n  \"message\": \"Webhook procesado correctamente\"\n} }}"
      },
      "id": "webhook-response",
      "name": "Respuesta Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook Chatwoot": {
      "main": [
        [
          {
            "node": "Identificar Tenant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Identificar Tenant": {
      "main": [
        [
          {
            "node": "¿Es Mensaje Nuevo Entrante?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Es Mensaje Nuevo Entrante?": {
      "main": [
        [
          {
            "node": "Enviar a Procesador Leads",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Conversación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar a Procesador Leads": {
      "main": [
        [
          {
            "node": "Respuesta Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Conversación": {
      "main": [
        [
          {
            "node": "Respuesta Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-15T10:00:00.000Z",
      "updatedAt": "2024-01-15T10:00:00.000Z",
      "id": "chatwoot-integration",
      "name": "Chatwoot Integration"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-15T10:00:00.000Z",
  "versionId": "1"
}
