applications/n8n-workflows/encuestas/survey-call-center-assignment.json
{
  "name": "Survey Call Center Assignment",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook/survey/call-center-assignment",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Call Center Assignment Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "survey-call-center-assignment"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $vars.SUPABASE_URL }}/rest/v1/usuarios",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "headers": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $vars.SUPABASE_SERVICE_KEY }}"
            }
          ]
        },
        "qs": {
          "parameters": [
            {
              "name": "concesionario_id",
              "value": "eq.{{ $json.tenant_id }}"
            },
            {
              "name": "rol",
              "value": "eq.Contact Center"
            },
            {
              "name": "activo",
              "value": "eq.true"
            },
            {
              "name": "select",
              "value": "id,nombre,email,telefono,sucursal_id"
            }
          ]
        }
      },
      "id": "get-call-center-agents",
      "name": "Get Call Center Agents",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "/*** SURVEY CALL CENTER ASSIGNMENT - SRP: Solo asignaci贸n equitativa ***/\nconst assignmentData = $('Call Center Assignment Trigger').first().json;\nconst callCenterAgents = $('Get Call Center Agents').first().json;\nconst clientsToAssign = assignmentData.clients_for_call_center;\n\n// Validar que hay agentes disponibles\nif (!callCenterAgents || callCenterAgents.length === 0) {\n  throw new Error('No hay agentes de Contact Center activos para este concesionario');\n}\n\n// Distribuci贸n equitativa (algoritmo round-robin)\nconst assignments = [];\nlet agentIndex = 0;\n\nclientsToAssign.forEach((client, index) => {\n  const assignedAgent = callCenterAgents[agentIndex];\n  \n  assignments.push({\n    // Datos del cliente\n    cliente_nombre: client.cliente_nombre,\n    cliente_telefono: client.cliente_telefono,\n    sucursal: client.sucursal,\n    tiempo_sin_respuesta: client.tiempo_sin_respuesta,\n    fecha_envio_whatsapp: client.fecha_envio_whatsapp,\n    \n    // Datos del agente asignado\n    agente_id: assignedAgent.id,\n    agente_nombre: assignedAgent.nombre,\n    agente_email: assignedAgent.email,\n    agente_telefono: assignedAgent.telefono,\n    \n    // Metadatos de asignaci贸n\n    fecha_asignacion: new Date().toISOString(),\n    prioridad: client.tiempo_sin_respuesta > 12 ? 'alta' : 'normal', // >12 horas sin respuesta\n    tenant_id: assignmentData.tenant_id\n  });\n  \n  // Rotar al siguiente agente\n  agentIndex = (agentIndex + 1) % callCenterAgents.length;\n});\n\n// Agrupar por agente para notificaciones eficientes\nconst assignmentsByAgent = assignments.reduce((acc, assignment) => {\n  const agentId = assignment.agente_id;\n  if (!acc[agentId]) {\n    acc[agentId] = {\n      agent_info: {\n        id: assignment.agente_id,\n        nombre: assignment.agente_nombre,\n        email: assignment.agente_email,\n        telefono: assignment.agente_telefono\n      },\n      assigned_clients: []\n    };\n  }\n  acc[agentId].assigned_clients.push(assignment);\n  return acc;\n}, {});\n\nreturn {\n  tenant_id: assignmentData.tenant_id,\n  total_assignments: assignments.length,\n  total_agents: callCenterAgents.length,\n  assignments_by_agent: assignmentsByAgent,\n  assignment_stats: {\n    clients_per_agent: Math.round(assignments.length / callCenterAgents.length * 100) / 100,\n    high_priority_count: assignments.filter(a => a.prioridad === 'alta').length,\n    assignment_timestamp: new Date().toISOString()\n  },\n  campaign_metadata: assignmentData.campaign_metadata\n};"
      },  
      "id": "assign-clients",
      "name": "Assign Clients",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "assignments_by_agent",
        "options": {}
      },
      "id": "split-by-agent",
      "name": "Split By Agent",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.SUPABASE_URL }}/rest/v1/survey_call_assignments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "headers": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $vars.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "body": {
          "parameters": [
            {
              "name": "concesionario_id",
              "value": "={{ $('Assign Clients').first().json.tenant_id }}"
            },
            {
              "name": "agente_id",
              "value": "={{ $json.agent_info.id }}"
            },
            {
              "name": "agente_nombre",
              "value": "={{ $json.agent_info.nombre }}"
            },
            {
              "name": "assigned_clients",
              "value": "={{ JSON.stringify($json.assigned_clients) }}"
            },
            {
              "name": "total_clients",
              "value": "={{ $json.assigned_clients.length }}"
            },
            {
              "name": "estado",
              "value": "pendiente"
            },
            {
              "name": "fecha_asignacion",
              "value": "={{ new Date().toISOString() }}"
            },
            {
              "name": "prioridad_alta_count",
              "value": "={{ $json.assigned_clients.filter(c => c.prioridad === 'alta').length }}"
            }
          ]
        }
      },
      "id": "register-assignments",
      "name": "Register Assignments",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "jsCode": "// Preparar email de notificaci贸n personalizado por agente\nconst agentData = $input.first().json;\nconst assignmentRecord = $('Register Assignments').first().json;\n\n// Template de email (siguiendo patr贸n de notificaciones existentes)\nconst emailSubject = ` Nuevas encuestas asignadas - ${agentData.assigned_clients.length} clientes`;\n\nconst emailBody = `\n<h2> Asignaci贸n de Encuestas Telef贸nicas</h2>\n\n<p>Hola <strong>${agentData.agent_info.nombre}</strong>,</p>\n\n<p>Se te han asignado <strong>${agentData.assigned_clients.length} clientes</strong> que no respondieron la encuesta por WhatsApp y requieren seguimiento telef贸nico.</p>\n\n<h3> Detalles de la Asignaci贸n:</h3>\n<ul>\n  <li><strong>Total clientes:</strong> ${agentData.assigned_clients.length}</li>\n  <li><strong>Prioridad alta:</strong> ${agentData.assigned_clients.filter(c => c.prioridad === 'alta').length} (m谩s de 12 horas sin respuesta)</li>\n  <li><strong>Fecha asignaci贸n:</strong> ${new Date().toLocaleString('es-CL')}</li>\n</ul>\n\n<h3> Clientes Asignados:</h3>\n<table border=\"1\" style=\"border-collapse: collapse; width: 100%;\">\n  <tr style=\"background-color: #f0f0f0;\">\n    <th>Cliente</th>\n    <th>Tel茅fono</th>\n    <th>Sucursal</th>\n    <th>Horas sin Respuesta</th>\n    <th>Prioridad</th>\n  </tr>\n  ${agentData.assigned_clients.map(client => `\n  <tr>\n    <td>${client.cliente_nombre}</td>\n    <td>${client.cliente_telefono}</td>\n    <td>${client.sucursal}</td>\n    <td>${client.tiempo_sin_respuesta}h</td>\n    <td style=\"color: ${client.prioridad === 'alta' ? 'red' : 'green'}; font-weight: bold;\">\n      ${client.prioridad.toUpperCase()}\n    </td>\n  </tr>\n  `).join('')}\n</table>\n\n<h3> Instrucciones:</h3>\n<ol>\n  <li>Contactar a los clientes de <strong>prioridad alta</strong> primero</li>\n  <li>Realizar la encuesta telef贸nica de satisfacci贸n</li>\n  <li>Registrar las respuestas en el sistema</li>\n  <li>En caso de notas bajas (1-8), notificar inmediatamente al Jefe de Servicio</li>\n</ol>\n\n<p>Para acceder al sistema: <a href=\"https://app.optimacx.com/encuestas/call-center\">Click aqu铆</a></p>\n\n<p>隆Gracias por tu trabajo!</p>\n\n<hr>\n<small>Sistema ptima-CX - ${new Date().toLocaleString('es-CL')}</small>\n`;\n\nreturn {\n  to: agentData.agent_info.email,\n  subject: emailSubject,\n  html: emailBody,\n  agent_name: agentData.agent_info.nombre,\n  clients_count: agentData.assigned_clients.length,\n  assignment_id: assignmentRecord.id\n};"
      },
      "id": "prepare-notification",
      "name": "Prepare Notification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.N8N_WEBHOOK_URL }}/webhook/send-email",
        "headers": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $vars.N8N_WEBHOOK_AUTH_TOKEN }}"
            }
          ]
        },
        "body": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $json.to }}"
            },
            {
              "name": "subject",
              "value": "={{ $json.subject }}"
            },
            {
              "name": "html",
              "value": "={{ $json.html }}"
            },
            {
              "name": "tenant_id",
              "value": "={{ $('Assign Clients').first().json.tenant_id }}"
            }
          ]
        }
      },
      "id": "send-notification",
      "name": "Send Notification", 
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "jsCode": "// Generar reporte final de asignaciones\nconst assignmentData = $('Assign Clients').first().json;\nconst notificationResults = $input.all();\n\nconst finalReport = {\n  campaign_id: assignmentData.campaign_metadata?.campaign_id || `campaign_${Date.now()}`,\n  tenant_id: assignmentData.tenant_id,\n  assignment_summary: {\n    total_clients_assigned: assignmentData.total_assignments,\n    total_agents: assignmentData.total_agents,\n    assignments_per_agent: assignmentData.assignment_stats.clients_per_agent,\n    high_priority_clients: assignmentData.assignment_stats.high_priority_count\n  },\n  notification_results: {\n    emails_sent: notificationResults.filter(r => r.json?.message_id).length,\n    emails_failed: notificationResults.length - notificationResults.filter(r => r.json?.message_id).length\n  },\n  completion_timestamp: new Date().toISOString(),\n  status: 'completed'\n};\n\nreturn finalReport;"
      },
      "id": "generate-report",
      "name": "Generate Final Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"message\": \"Asignaci贸n a Contact Center completada exitosamente\",\n  \"assignment_data\": {\n    \"total_clients_assigned\": {{ $('Assign Clients').first().json.total_assignments }},\n    \"total_agents\": {{ $('Assign Clients').first().json.total_agents }},\n    \"notifications_sent\": {{ $json.notification_results.emails_sent }}\n  },\n  \"final_report\": {{ JSON.stringify($json) }},\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}"
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2000, 300]
    }
  ],
  "connections": {
    "Call Center Assignment Trigger": {
      "main": [
        [
          {
            "node": "Get Call Center Agents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Call Center Agents": {
      "main": [
        [
          {
            "node": "Assign Clients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assign Clients": {
      "main": [
        [
          {
            "node": "Split By Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split By Agent": {
      "main": [
        [
          {
            "node": "Register Assignments",
            "type": "main", 
            "index": 0
          }
        ]
      ]
    },
    "Register Assignments": {
      "main": [
        [
          {
            "node": "Prepare Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Notification": {
      "main": [
        [
          {
            "node": "Send Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Notification": {
      "main": [
        [
          {
            "node": "Generate Final Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Final Report": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "srp",
      "name": "srp"
    },
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "survey",
      "name": "survey"
    },
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "assignment",
      "name": "assignment"
    }
  ],
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "survey-call-center-assignment",
  "versionId": "1.0.0"
}