applications/n8n-workflows/templates/chatwoot-test-minimal.json
{
  "name": "Chatwoot Test Webhook - Minimal",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook/chatwoot/test",
        "options": {}
      },
      "id": "webhook-test",
      "name": "Test Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "chatwoot-test-minimal"
    },
    {
      "parameters": {
        "functionCode": "// 🧪 Test simple de conectividad Chatwoot → N8N\n\nconst payload = $input.first().json;\n\nconsole.log('🔍 Test Payload recibido:', JSON.stringify(payload, null, 2));\n\n// Extraer información básica\nconst result = {\n  timestamp: new Date().toISOString(),\n  payload_received: true,\n  account_id: payload.account?.id || 'no_account',\n  event_type: payload.event || 'no_event',\n  message_content: payload.content || 'no_content',\n  sender_phone: payload.conversation?.meta?.sender?.phone_number || 'no_phone',\n  test_status: 'SUCCESS'\n};\n\nconsole.log('✅ Test procesado exitosamente:', result);\n\nreturn result;"
      },
      "id": "process-test",
      "name": "Procesar Test",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"status\": \"TEST_SUCCESS\",\n  \"message\": \"Chatwoot → N8N comunicación exitosa\",\n  \"processed_at\": $json.timestamp,\n  \"account_id\": $json.account_id,\n  \"event_type\": $json.event_type\n} }}"
      },
      "id": "test-response",
      "name": "Respuesta Test",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Test Webhook": {
      "main": [
        [
          {
            "node": "Procesar Test",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Test": {
      "main": [
        [
          {
            "node": "Respuesta Test",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-15T10:00:00.000Z",
      "updatedAt": "2024-01-15T10:00:00.000Z",
      "id": "test-integration",
      "name": "Test Integration"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-15T10:00:00.000Z",
  "versionId": "1"
}
