applications/n8n-workflows/encuestas/ventas/asignacion-contact-center-ventas.json
{
  "name": "Sales Survey Call Center Assignment",
  "description": "Asignaci贸n equitativa de encuestas de VENTAS no respondidas a agentes de Contact Center. Principio SRP: Una sola responsabilidad - asignaci贸n de encuestas ventas.",
  "tags": ["sales", "survey", "assignment", "contact-center", "ventas", "srp"],
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook/sales-survey/call-center-assignment",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger-ventas",
      "name": "Trigger Asignaci贸n Contact Center Ventas",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "sales-survey-call-center-assignment"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $vars.SUPABASE_URL }}/rest/v1/usuarios",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "headers": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $vars.SUPABASE_SERVICE_KEY }}"
            }
          ]
        },
        "qs": {
          "parameters": [
            {
              "name": "concesionario_id",
              "value": "eq.{{ $json.tenant_id }}"
            },
            {
              "name": "role",
              "value": "eq.contact_center"
            },
            {
              "name": "activo",
              "value": "eq.true"
            },
            {
              "name": "select",
              "value": "id,nombre,email,telefono,sucursal_id"
            }
          ]
        }
      },
      "id": "get-contact-center-agents-ventas",
      "name": "Obtener Agentes Contact Center Ventas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// SALES SURVEY CALL CENTER ASSIGNMENT - SRP: Solo asignaci贸n equitativa de encuestas VENTAS\n// Principio SRP: Una sola responsabilidad - distribuci贸n equitativa de encuestas de ventas\n\nconst assignmentData = $('Trigger Asignaci贸n Contact Center Ventas').first().json;\nconst contactCenterAgents = $('Obtener Agentes Contact Center Ventas').first().json;\nconst salesClientsToAssign = assignmentData.sales_clients_for_call_center;\n\n// Validar entrada espec铆fica para VENTAS\nif (!assignmentData.tenant_id) {\n  throw new Error('tenant_id es requerido para asignaci贸n de encuestas de VENTAS');\n}\n\nif (!salesClientsToAssign || salesClientsToAssign.length === 0) {\n  throw new Error('No hay clientes de VENTAS para asignar a Contact Center');\n}\n\n// Validar que hay agentes disponibles\nif (!contactCenterAgents || contactCenterAgents.length === 0) {\n  throw new Error('No hay agentes de Contact Center activos para este concesionario (VENTAS)');\n}\n\nconsole.log('Iniciando asignaci贸n de encuestas VENTAS:', {\n  tenantId: assignmentData.tenant_id,\n  clientesVentas: salesClientsToAssign.length,\n  agentesDisponibles: contactCenterAgents.length\n});\n\n// Distribuci贸n equitativa espec铆fica para VENTAS (algoritmo round-robin)\nconst salesAssignments = [];\nlet agentIndex = 0;\n\nsalesClientsToAssign.forEach((salesClient, index) => {\n  const assignedAgent = contactCenterAgents[agentIndex];\n  \n  salesAssignments.push({\n    // Datos del cliente de VENTAS\n    cliente_nombre: salesClient.cliente_nombre,\n    cliente_telefono: salesClient.cliente_telefono,\n    vehiculo_modelo: salesClient.vehiculo_modelo,\n    fecha_venta: salesClient.fecha_venta,\n    asesor_ventas_id: salesClient.asesor_ventas_id,\n    sucursal: salesClient.sucursal,\n    tiempo_sin_respuesta: salesClient.tiempo_sin_respuesta,\n    fecha_envio_whatsapp: salesClient.fecha_envio_whatsapp,\n    \n    // Datos del agente asignado\n    agente_id: assignedAgent.id,\n    agente_nombre: assignedAgent.nombre,\n    agente_email: assignedAgent.email,\n    agente_telefono: assignedAgent.telefono,\n    \n    // Metadatos de asignaci贸n espec铆ficos VENTAS\n    fecha_asignacion: new Date().toISOString(),\n    prioridad: salesClient.tiempo_sin_respuesta > 12 ? 'alta' : 'normal', // >12 horas sin respuesta\n    tenant_id: assignmentData.tenant_id,\n    survey_type: 'VENTAS',\n    department: 'VENTAS'\n  });\n  \n  // Rotar al siguiente agente\n  agentIndex = (agentIndex + 1) % contactCenterAgents.length;\n});\n\n// Agrupar por agente para notificaciones eficientes espec铆ficas de VENTAS\nconst salesAssignmentsByAgent = salesAssignments.reduce((acc, assignment) => {\n  const agentId = assignment.agente_id;\n  if (!acc[agentId]) {\n    acc[agentId] = {\n      agent_info: {\n        id: assignment.agente_id,\n        nombre: assignment.agente_nombre,\n        email: assignment.agente_email,\n        telefono: assignment.agente_telefono\n      },\n      assigned_sales_clients: []\n    };\n  }\n  acc[agentId].assigned_sales_clients.push(assignment);\n  return acc;\n}, {});\n\nconsole.log('Asignaci贸n VENTAS completada:', {\n  totalAsignaciones: salesAssignments.length,\n  totalAgentes: contactCenterAgents.length,\n  clientesPorAgente: Math.round(salesAssignments.length / contactCenterAgents.length * 100) / 100\n});\n\nreturn {\n  tenant_id: assignmentData.tenant_id,\n  survey_type: 'VENTAS',\n  department: 'VENTAS',\n  total_sales_assignments: salesAssignments.length,\n  total_agents: contactCenterAgents.length,\n  sales_assignments_by_agent: salesAssignmentsByAgent,\n  assignment_stats: {\n    sales_clients_per_agent: Math.round(salesAssignments.length / contactCenterAgents.length * 100) / 100,\n    high_priority_count: salesAssignments.filter(a => a.prioridad === 'alta').length,\n    assignment_timestamp: new Date().toISOString()\n  },\n  campaign_metadata: assignmentData.campaign_metadata\n};"
      },
      "id": "assign-sales-clients",
      "name": "Asignar Clientes Ventas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "sales_assignments_by_agent",
        "options": {}
      },
      "id": "split-by-agent-ventas",
      "name": "Dividir por Agente Ventas",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.SUPABASE_URL }}/rest/v1/sales_survey_call_assignments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "headers": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $vars.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "body": {
          "parameters": [
            {
              "name": "concesionario_id",
              "value": "={{ $('Asignar Clientes Ventas').first().json.tenant_id }}"
            },
            {
              "name": "agente_id",
              "value": "={{ $json.agent_info.id }}"
            },
            {
              "name": "agente_nombre",
              "value": "={{ $json.agent_info.nombre }}"
            },
            {
              "name": "assigned_sales_clients",
              "value": "={{ JSON.stringify($json.assigned_sales_clients) }}"
            },
            {
              "name": "total_sales_clients",
              "value": "={{ $json.assigned_sales_clients.length }}"
            },
            {
              "name": "survey_type",
              "value": "VENTAS"
            },
            {
              "name": "department",
              "value": "VENTAS"
            },
            {
              "name": "estado",
              "value": "pendiente"
            },
            {
              "name": "fecha_asignacion",
              "value": "={{ new Date().toISOString() }}"
            },
            {
              "name": "prioridad_alta_count",
              "value": "={{ $json.assigned_sales_clients.filter(c => c.prioridad === 'alta').length }}"
            }
          ]
        }
      },
      "id": "register-sales-assignments",
      "name": "Registrar Asignaciones Ventas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "jsCode": "// Preparar email de notificaci贸n personalizado por agente - ESPECFICO VENTAS\n// Principio SRP: Una sola responsabilidad - preparar notificaci贸n para agente\n\nconst agentData = $input.first().json;\nconst assignmentRecord = $('Registrar Asignaciones Ventas').first().json;\n\n// Template de email espec铆fico para VENTAS\nconst emailSubject = ` Nuevas encuestas de VENTAS asignadas - ${agentData.assigned_sales_clients.length} clientes`;\n\nconst emailBody = `\n<h2> Asignaci贸n de Encuestas Telef贸nicas - VENTAS</h2>\n\n<p>Hola <strong>${agentData.agent_info.nombre}</strong>,</p>\n\n<p>Se te han asignado <strong>${agentData.assigned_sales_clients.length} clientes de VENTAS</strong> que no respondieron la encuesta de satisfacci贸n de ventas por WhatsApp y requieren seguimiento telef贸nico.</p>\n\n<h3> Detalles de la Asignaci贸n VENTAS:</h3>\n<ul>\n  <li><strong>Tipo:</strong> Encuestas de VENTAS (Post-compra)</li>\n  <li><strong>Total clientes:</strong> ${agentData.assigned_sales_clients.length}</li>\n  <li><strong>Prioridad alta:</strong> ${agentData.assigned_sales_clients.filter(c => c.prioridad === 'alta').length} (m谩s de 12 horas sin respuesta)</li>\n  <li><strong>Fecha asignaci贸n:</strong> ${new Date().toLocaleString('es-CL')}</li>\n</ul>\n\n<h3> Clientes de VENTAS Asignados:</h3>\n<table border=\"1\" style=\"border-collapse: collapse; width: 100%;\">\n  <tr style=\"background-color: #f0f0f0;\">\n    <th>Cliente</th>\n    <th>Tel茅fono</th>\n    <th>Veh铆culo Comprado</th>\n    <th>Fecha Venta</th>\n    <th>Horas sin Respuesta</th>\n    <th>Prioridad</th>\n  </tr>\n  ${agentData.assigned_sales_clients.map(client => `\n  <tr>\n    <td>${client.cliente_nombre}</td>\n    <td>${client.cliente_telefono}</td>\n    <td>${client.vehiculo_modelo}</td>\n    <td>${new Date(client.fecha_venta).toLocaleDateString('es-CL')}</td>\n    <td>${client.tiempo_sin_respuesta}h</td>\n    <td style=\"color: ${client.prioridad === 'alta' ? 'red' : 'green'}; font-weight: bold;\">\n      ${client.prioridad.toUpperCase()}\n    </td>\n  </tr>\n  `).join('')}\n</table>\n\n<h3> Instrucciones Espec铆ficas para Encuestas de VENTAS:</h3>\n<ol>\n  <li>Contactar a los clientes de <strong>prioridad alta</strong> primero</li>\n  <li>Realizar la encuesta telef贸nica de satisfacci贸n de <strong>VENTAS</strong></li>\n  <li>Preguntas espec铆ficas de VENTAS:\n    <ul>\n      <li>驴Recomendar铆a nuestro concesionario? (1-10)</li>\n      <li>驴C贸mo califica la atenci贸n del asesor de ventas? (1-10)</li>\n      <li>驴C贸mo califica el proceso de entrega del veh铆culo? (1-10)</li>\n      <li>驴Satisfacci贸n general con la compra? (1-10)</li>\n    </ul>\n  </li>\n  <li>Registrar las respuestas en el sistema (secci贸n VENTAS)</li>\n  <li>En caso de notas bajas (1-8), notificar inmediatamente al <strong>Jefe de Ventas</strong> y Encargado de Calidad</li>\n</ol>\n\n<p>Para acceder al sistema: <a href=\"https://app.optimacx.com/encuestas-ventas/call-center\">Click aqu铆 - M贸dulo VENTAS</a></p>\n\n<p>隆Gracias por tu trabajo en el seguimiento post-venta!</p>\n\n<hr>\n<small>Sistema ptima-CX - M贸dulo VENTAS - ${new Date().toLocaleString('es-CL')}</small>\n`;\n\nconsole.log('Preparando notificaci贸n VENTAS para agente:', {\n  agente: agentData.agent_info.nombre,\n  clientesAsignados: agentData.assigned_sales_clients.length,\n  tipo: 'VENTAS'\n});\n\nreturn {\n  to: agentData.agent_info.email,\n  subject: emailSubject,\n  html: emailBody,\n  agent_name: agentData.agent_info.nombre,\n  sales_clients_count: agentData.assigned_sales_clients.length,\n  assignment_id: assignmentRecord.id,\n  survey_type: 'VENTAS',\n  department: 'VENTAS'\n};"
      },
      "id": "prepare-sales-notification",
      "name": "Preparar Notificaci贸n Ventas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.N8N_WEBHOOK_URL }}/webhook/send-email",
        "headers": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $vars.N8N_WEBHOOK_AUTH_TOKEN }}"
            }
          ]
        },
        "body": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $json.to }}"
            },
            {
              "name": "subject",
              "value": "={{ $json.subject }}"
            },
            {
              "name": "html",
              "value": "={{ $json.html }}"
            },
            {
              "name": "tenant_id",
              "value": "={{ $('Asignar Clientes Ventas').first().json.tenant_id }}"
            },
            {
              "name": "survey_type",
              "value": "VENTAS"
            },
            {
              "name": "department",
              "value": "VENTAS"
            }
          ]
        }
      },
      "id": "send-sales-notification",
      "name": "Enviar Notificaci贸n Ventas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "jsCode": "// Generar reporte final de asignaciones VENTAS\n// Principio SRP: Una sola responsabilidad - generar reporte final\n\nconst assignmentData = $('Asignar Clientes Ventas').first().json;\nconst notificationResults = $input.all();\n\nconst finalSalesReport = {\n  campaign_id: assignmentData.campaign_metadata?.campaign_id || `sales_campaign_${Date.now()}`,\n  tenant_id: assignmentData.tenant_id,\n  survey_type: 'VENTAS',\n  department: 'VENTAS',\n  assignment_summary: {\n    total_sales_clients_assigned: assignmentData.total_sales_assignments,\n    total_agents: assignmentData.total_agents,\n    sales_assignments_per_agent: assignmentData.assignment_stats.sales_clients_per_agent,\n    high_priority_sales_clients: assignmentData.assignment_stats.high_priority_count\n  },\n  notification_results: {\n    emails_sent: notificationResults.filter(r => r.json?.message_id).length,\n    emails_failed: notificationResults.length - notificationResults.filter(r => r.json?.message_id).length\n  },\n  completion_timestamp: new Date().toISOString(),\n  status: 'completed'\n};\n\nconsole.log('Reporte final de asignaci贸n VENTAS:', {\n  tenantId: finalSalesReport.tenant_id,\n  tipo: 'VENTAS',\n  clientesAsignados: finalSalesReport.assignment_summary.total_sales_clients_assigned,\n  emailsEnviados: finalSalesReport.notification_results.emails_sent\n});\n\nreturn finalSalesReport;"
      },
      "id": "generate-sales-report",
      "name": "Generar Reporte Final Ventas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"message\": \"Asignaci贸n de encuestas VENTAS a Contact Center completada exitosamente\",\n  \"survey_type\": \"VENTAS\",\n  \"department\": \"VENTAS\",\n  \"assignment_data\": {\n    \"total_sales_clients_assigned\": {{ $('Asignar Clientes Ventas').first().json.total_sales_assignments }},\n    \"total_agents\": {{ $('Asignar Clientes Ventas').first().json.total_agents }},\n    \"notifications_sent\": {{ $json.notification_results.emails_sent }}\n  },\n  \"final_sales_report\": {{ JSON.stringify($json) }},\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}"
      },
      "id": "success-response-ventas",
      "name": "Respuesta xito Ventas",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2000, 300]
    }
  ],
  "connections": {
    "Trigger Asignaci贸n Contact Center Ventas": {
      "main": [
        [
          {
            "node": "Obtener Agentes Contact Center Ventas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Agentes Contact Center Ventas": {
      "main": [
        [
          {
            "node": "Asignar Clientes Ventas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Asignar Clientes Ventas": {
      "main": [
        [
          {
            "node": "Dividir por Agente Ventas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dividir por Agente Ventas": {
      "main": [
        [
          {
            "node": "Registrar Asignaciones Ventas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Asignaciones Ventas": {
      "main": [
        [
          {
            "node": "Preparar Notificaci贸n Ventas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Notificaci贸n Ventas": {
      "main": [
        [
          {
            "node": "Enviar Notificaci贸n Ventas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Notificaci贸n Ventas": {
      "main": [
        [
          {
            "node": "Generar Reporte Final Ventas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Reporte Final Ventas": {
      "main": [
        [
          {
            "node": "Respuesta xito Ventas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "srp",
      "name": "srp"
    },
    {
      "createdAt": "2024-01-01T00:00:00.000Z", 
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "sales",
      "name": "sales"
    },
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "ventas",
      "name": "ventas"
    },
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "assignment", 
      "name": "assignment"
    }
  ],
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "sales-survey-call-center-assignment",
  "versionId": "1.0.0"
}