applications/n8n-workflows/encuestas/ventas/procesador-excel-ventas.json
{
  "name": "Sales Survey Excel Processor",
  "description": "Procesador de Excel para encuestas de VENTAS. Principio SRP: Una sola responsabilidad - procesar datos Excel de clientes de ventas.",
  "tags": ["sales", "survey", "excel", "processor", "ventas", "srp"],
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook/sales-survey/excel-upload",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-excel-upload-ventas",
      "name": "Excel Upload Webhook Ventas",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "sales-survey-excel-upload"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "tenant-id-present",
              "leftValue": "={{ $json.tenant_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            },
            {
              "id": "excel-data-present", 
              "leftValue": "={{ $json.sales_excel_data }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "validate-sales-upload",
      "name": "Validar Upload Ventas",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// SALES SURVEY EXCEL PROCESSOR - SRP: Solo procesamiento de datos Excel VENTAS\n// Principio SRP: Una sola responsabilidad - procesar datos Excel de clientes post-compra\n\nconst webhookData = $input.first().json;\nconst tenantId = webhookData.tenant_id;\nconst salesExcelData = webhookData.sales_excel_data;\nconst uploadedBy = webhookData.uploaded_by || 'sistema';\n\n// Validar estructura mínima específica para VENTAS\nif (!Array.isArray(salesExcelData) || salesExcelData.length === 0) {\n  throw new Error('Datos de Excel de VENTAS inválidos o vacíos');\n}\n\nconsole.log('Iniciando procesamiento Excel VENTAS:', {\n  tenantId: tenantId,\n  filas: salesExcelData.length,\n  tipo: 'VENTAS'\n});\n\n// Normalizar datos específicos para encuestas de VENTAS (post-compra)\nconst processedSalesClients = salesExcelData.map((row, index) => {\n  const salesClient = {\n    // Campos base del cliente (común con post-servicio)\n    cliente_nombre: row.nombre || row.NOMBRE || row['Nombre Cliente'] || row.cliente || 'Cliente',\n    cliente_telefono: (row.telefono || row.TELEFONO || row['Teléfono'] || row.celular || '').toString().replace(/\\D/g, ''),\n    cliente_email: row.email || row.EMAIL || row['Email'] || null,\n    cliente_rut: row.rut || row.RUT || row['RUT'] || null,\n    \n    // Campos específicos de VENTAS (diferentes a post-servicio)\n    vehiculo_modelo: row.vehiculo || row.VEHICULO || row['Modelo Vehículo'] || row.modelo || 'Vehículo',\n    fecha_venta: row.fecha_venta || row['Fecha Venta'] || row.fecha_compra || row['Fecha Compra'] || new Date().toISOString().split('T')[0],\n    asesor_ventas_nombre: row.asesor_ventas || row.asesor || row.ASESOR || row['Asesor Ventas'] || 'Equipo de Ventas',\n    asesor_ventas_id: row.asesor_id || row.asesor_ventas_id || null,\n    sucursal: row.sucursal || row.SUCURSAL || row['Sucursal'] || 'Principal',\n    \n    // IDs únicos para seguimiento\n    concesionario_id: tenantId,\n    survey_token: `sales_${tenantId}_${Date.now()}_${index}`,\n    row_number: index + 1\n  };\n  \n  // Validaciones críticas específicas para VENTAS\n  if (!salesClient.cliente_telefono || salesClient.cliente_telefono.length < 8) {\n    throw new Error(`Fila ${salesClient.row_number}: Teléfono inválido para cliente de VENTAS (${salesClient.cliente_telefono})`);\n  }\n  \n  if (!salesClient.vehiculo_modelo || salesClient.vehiculo_modelo.trim() === '') {\n    throw new Error(`Fila ${salesClient.row_number}: Modelo de vehículo es requerido para encuestas de VENTAS`);\n  }\n  \n  // Validar fecha de venta\n  const fechaVenta = new Date(salesClient.fecha_venta);\n  if (isNaN(fechaVenta.getTime())) {\n    console.warn(`Fila ${salesClient.row_number}: Fecha de venta inválida, usando fecha actual`);\n    salesClient.fecha_venta = new Date().toISOString().split('T')[0];\n  }\n  \n  // Formatear teléfono chileno (siguiendo patrón estándar)\n  if (!salesClient.cliente_telefono.startsWith('569')) {\n    salesClient.cliente_telefono = '569' + salesClient.cliente_telefono.replace(/^9/, '');\n  }\n  \n  return salesClient;\n});\n\n// Estadísticas específicas de procesamiento VENTAS\nconst processingStats = {\n  total_rows_processed: processedSalesClients.length,\n  unique_vehicles: [...new Set(processedSalesClients.map(c => c.vehiculo_modelo))].length,\n  unique_advisors: [...new Set(processedSalesClients.map(c => c.asesor_ventas_nombre))].length,\n  date_range: {\n    earliest_sale: Math.min(...processedSalesClients.map(c => new Date(c.fecha_venta).getTime())),\n    latest_sale: Math.max(...processedSalesClients.map(c => new Date(c.fecha_venta).getTime()))\n  }\n};\n\nconsole.log('Procesamiento Excel VENTAS completado:', {\n  tenantId: tenantId,\n  clientesProcesados: processedSalesClients.length,\n  vehiculosUnicos: processingStats.unique_vehicles,\n  asesoresUnicos: processingStats.unique_advisors\n});\n\n// Resultado específico para VENTAS\nreturn {\n  tenant_id: tenantId,\n  survey_type: 'VENTAS',\n  department: 'VENTAS',\n  sales_clients_excel: processedSalesClients,\n  total_clients: processedSalesClients.length,\n  processing_stats: processingStats,\n  upload_metadata: {\n    uploaded_by: uploadedBy,\n    upload_timestamp: new Date().toISOString(),\n    source_file: webhookData.filename || 'ventas_excel_upload.xlsx',\n    survey_type: 'VENTAS',\n    department: 'VENTAS'\n  },\n  // Trigger para siguiente workflow específico de VENTAS\n  next_workflow: 'filtro-duplicados-ventas'\n};"
      },
      "id": "process-sales-excel-data",
      "name": "Procesar Datos Excel Ventas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.N8N_WEBHOOK_URL }}/webhook/sales-survey/duplicate-filter",
        "headers": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $vars.N8N_WEBHOOK_AUTH_TOKEN }}"
            }
          ]
        },
        "body": {
          "parameters": [
            {
              "name": "tenant_id",
              "value": "={{ $json.tenant_id }}"
            },
            {
              "name": "sales_clients_excel",
              "value": "={{ JSON.stringify($json.sales_clients_excel) }}"
            },
            {
              "name": "survey_type",
              "value": "VENTAS"
            },
            {
              "name": "department",
              "value": "VENTAS"
            },
            {
              "name": "upload_metadata",
              "value": "={{ JSON.stringify($json.upload_metadata) }}"
            },
            {
              "name": "campaign_id",
              "value": "sales_campaign_{{ Date.now() }}"
            }
          ]
        }
      },
      "id": "trigger-sales-duplicate-filter",
      "name": "Disparar Filtro Duplicados Ventas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"message\": \"Excel de VENTAS procesado correctamente. Iniciando filtrado de duplicados.\",\n  \"survey_type\": \"VENTAS\",\n  \"department\": \"VENTAS\",\n  \"processing_data\": {\n    \"total_sales_clients\": {{ $('Procesar Datos Excel Ventas').first().json.total_clients }},\n    \"unique_vehicles\": {{ $('Procesar Datos Excel Ventas').first().json.processing_stats.unique_vehicles }},\n    \"unique_advisors\": {{ $('Procesar Datos Excel Ventas').first().json.processing_stats.unique_advisors }},\n    \"uploaded_by\": \"{{ $('Procesar Datos Excel Ventas').first().json.upload_metadata.uploaded_by }}\"\n  },\n  \"next_steps\": {\n    \"current_step\": \"Filtrado de duplicados en proceso\",\n    \"next_step\": \"Envío masivo WhatsApp a clientes únicos\",\n    \"estimated_time\": \"2-3 minutos\"\n  },\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}"
      },
      "id": "success-response-ventas",
      "name": "Respuesta Éxito Ventas",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"error\",\n  \"message\": \"Datos de upload de VENTAS inválidos. Verifique el formato del Excel y tenant_id.\",\n  \"survey_type\": \"VENTAS\",\n  \"department\": \"VENTAS\",\n  \"error_details\": {\n    \"tenant_id_present\": {{ !!$json.tenant_id }},\n    \"sales_excel_data_present\": {{ !!$json.sales_excel_data }},\n    \"required_fields\": [\"tenant_id\", \"sales_excel_data\"],\n    \"validation_failed\": true\n  },\n  \"recommendations\": {\n    \"check_tenant_id\": \"Asegúrese de que el tenant_id esté presente\",\n    \"check_excel_format\": \"Verifique que el Excel tenga las columnas: nombre, telefono, vehiculo, fecha_venta, asesor_ventas\",\n    \"contact_support\": \"Si el problema persiste, contacte al equipo técnico\"\n  },\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "error-response-ventas",
      "name": "Respuesta Error Ventas",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [460, 500]
    }
  ],
  "connections": {
    "Excel Upload Webhook Ventas": {
      "main": [
        [
          {
            "node": "Validar Upload Ventas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Upload Ventas": {
      "main": [
        [
          {
            "node": "Procesar Datos Excel Ventas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respuesta Error Ventas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Datos Excel Ventas": {
      "main": [
        [
          {
            "node": "Disparar Filtro Duplicados Ventas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Disparar Filtro Duplicados Ventas": {
      "main": [
        [
          {
            "node": "Respuesta Éxito Ventas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "srp",
      "name": "srp"
    },
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "sales",
      "name": "sales"
    },
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "ventas",
      "name": "ventas"
    },
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "excel",
      "name": "excel"
    }
  ],
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "sales-survey-excel-processor",
  "versionId": "1.0.0"
}